/* Reusable color constants */
:root {
    --lightest: #fafafa;
    --almostlightest: #f0f2f6;
    --lighter: #b0bac4;
    --light: #79838e;
    --dark: #1e2226;
    --darker: #1c2c51;
    --darkest: #171a1d;

    --defold-blue: #39a3e4;
    --defold-blue-dark: #327fec;
    --defold-blue-darker: #2477eb;
    --defold-blue-darkest: #1a70eb;

    --defold-orange: #fd6623;
}


/*******************************************************************************
 * Light or dark background color with matching font color
 ******************************************************************************/

.blue {
    background-color: var(--defold-blue-darkest);
    color: var(--lightest);
}
.blue a {
    color: var(--lightest);
}
.blue-text {
    color: var(--defold-blue-darkest);
}
.blue-text a {
    color: var(--defold-blue-darkest);
}

.lightest-text {
    color: var(--lightest);
}
.lightest-text a {
    color: var(--lightest);
}

.lighter-text {
    color: var(--lighter);
}
.lighter-text a {
    color: var(--lighter);
}

.light-text {
    color: var(--light);
}
.light-text a {
    color: var(--light);
}
.light {
    background-color: var(--lightest);
    color: var(--darker);
}
.light a {
    color: var(--darker);
}

.dark-text {
    color: var(--dark);
}
.dark-text a {
    color: var(--dark);
}
.dark {
    background-color: var(--dark);
    color: var(--lighter);
}
.dark a {
    color: var(--lighter);
}

.darker-text {
    color: var(--darkest);
}
.darker-text a {
    color: var(--darkest);
}
.darker {
    background-color: var(--darkest);
    color: var(--light);
}
.darker a {
    color: var(--light);
}

.blackwhite {
    background-color: black;
    color: white;
}
.blackwhite a {
    color: white;
}


/*******************************************************************************
 * Skeleton.css overrides
 ******************************************************************************/

/* Make container wider than default skeleton.css*/
.container {
    max-width: 1200px;
}
/* Overide section padding in skeleton.css */
.section {
  padding: 8rem 0 7rem;
}


select{
    overflow:auto;
    height:auto;
}
/*******************************************************************************
 * Helper to reduce margins and padding
 ******************************************************************************/
.compact > * {
    padding: 0;
    margin: 0;
}

/*******************************************************************************
 * Page setup (to keep footer always at the bottom)
 * Used in _layouts/base.html
 ******************************************************************************/

/* Ignore overflowing content */
html, body {
    max-width: 100%;
}

#page {
    position: relative;
    min-height: 100vh;
}
#pagecontent {
    padding-bottom: 22rem;   /* Height of the footer */
    overflow-x: hidden; /* Hide overflowing content such as images */
}

body {
    background-color: var(--dark);
}

/*******************************************************************************
 * Page footer
 ******************************************************************************/
footer {
    padding-top: 6rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22rem;
    font-size: smaller;
}
footer li {
    list-style: none;
}
footer li a {
    text-decoration: none;
    color: var(--lighter);
}

/*******************************************************************************
 * Collapsible menu using checkbox+label
 * checkbox unchecked -> Collapsed
 * checkbox checked -> Expanded
 ******************************************************************************/

input[type="checkbox"].toggle {
    display: none;
}
/* Padding between elements when collapsed */
input[type="checkbox"].toggle + .togglelabel {
    padding-bottom: 1rem;
}
/* No padding between elements when expanded */
input[type="checkbox"].toggle:checked + .togglelabel {
    padding-bottom: 0;
}
/* Hide the list if collapsed (not checked) */
input[type="checkbox"].toggle + .togglelabel + ul {
    display: none;
}
/* Show the list when expanded (checked) */
input[type="checkbox"].toggle:checked + .togglelabel + ul {
    display: block;
}

.togglelabel:hover {
    cursor: pointer;
}
.togglelabel::after {
    /* content: '▶'; */
    content: '▸';
    position:absolute;;
    font-size: 70%;
    margin-left: 0.5rem;
    padding-top: 0.25rem;
}
input[type="checkbox"].toggle:checked + .togglelabel::after {
    /* content: '▼'; */
    content: '▾';
}

/*******************************************************************************
 * Horizontal navigation menu (class: nav)
 * Positioned at the top above other content
 ******************************************************************************/
.nav.learn {
    background-color: var(--almostlightest);
    color: var(--darker);
}
.nav.learn input {
    margin-bottom: 0;
}
.nav.learn ul {
    margin-block-end: 0;
    padding-top: 0.7rem;
}

.nav li {
    display: inline;
    margin-right: 2rem;
}
.nav a {
    /* color: white; */
    text-decoration: none;
}
.nav a:hover {
    /* color: white; */
    text-decoration: none;
}
.nav {
    width: 100%
}
.nav div.container {
    padding-top: 3rem;
}
.nav.learn div.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.absolutetop {
    position: absolute;
    top: 0;
}

.navdropdown {
    display: none;
}

@media (max-width: 960px) {
  .navmenu     { display: none; }
  .navdropdown { display: inline-block; }
}


/*******************************************************************************
 * List styling
 ******************************************************************************/

.nobullet {
    list-style: none;
}

/*******************************************************************************
 * Button styling
 ******************************************************************************/

button.button-primary {
     background-color: var(--defold-blue-darkest);
     border-color: var(--defold-blue-darkest);
 }
button.button-primary:hover {
     background-color: var(--defold-blue-dark);
     border-color: var(--defold-blue-darkest);
}
input[type="submit"].button-primary {
    background-color: var(--defold-blue-darkest);
    border-color: var(--defold-blue-darkest);
}
input[type="submit"].button-primary:hover {
    background-color: var(--defold-blue-dark);
    border-color: var(--defold-blue-darkest);
}
input[type="submit"].button {
    color: var(--darker);
    border-color: var(--lighter);
}
input[type="submit"].button:hover {
    color: var(--light);
    border-color: var(--lighter);
}
input[type="button"].button {
    color: var(--light);
    border-color: var(--lighter);
}
input[type="button"].button:hover {
    color: var(--light);
    border-color: var(--lighter);
}

/*******************************************************************************
 * Limit width of images in examples, manuals and tutorials.
 * Also center them
 ******************************************************************************/

.example img {
    max-width: 100%;
    display: block;
}

.example pre {
    padding: 2rem;
    font-size: small;
}
.manual img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tutorial img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*******************************************************************************
 * Ref doc
 ******************************************************************************/

.ref .type {
    border: 1px solid #d0d3db;
    color: #6a7480;
    padding: 2px 6px;
    background-color: #f2f3f5;
}

.ref td {
    vertical-align: top;
}

.ref h4 {
    color: var(--defold-orange);
}

.ref a {
    text-decoration: none;
}
.anchor-link::before {
    font-family: fontello;
    content: '';
    color: #bfbfbf;
    padding: 0.5em;
}

/*******************************************************************************
 * Manuals special markup ::: sidenote and ::: important
 ******************************************************************************/
.sidenote {
    background-color: #fff7d4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}
.sidenote p {
    margin: 0;
}

.important {
    background-color: #f9afaf;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}
.important p {
    margin: 0;
}

/*******************************************************************************
 * Text alignment
 ******************************************************************************/
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

/*******************************************************************************
 * Typography
 ******************************************************************************/
.bold {
    font-weight: bold;
}

/*******************************************************************************
 * List items on divs of this class will have a checkmark instead of a bullet
 ******************************************************************************/
.checkmark li {
    list-style: none;
    padding-bottom: 0.75rem;
}
.checkmark li:before {
    content: "\2714\0020";
    color: var(--defold-blue);
    padding-right: 0.75rem;
}


/*******************************************************************************
 * Class to set on div surrounding an <ul> list to split it into multiple columns
 ******************************************************************************/
.twocolumnlist {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.threecolumnlist {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

/*******************************************************************************
 * Tags in asset portal
 ******************************************************************************/
.tags li {
    display: inline;
    margin-right: 2rem;
}

/*******************************************************************************
 * Asset
 ******************************************************************************/
.asset {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 0;
    border-radius: 4px;
    background-color: #272c31;
}
.asset #image {
    border-radius: 4px 4px 0 0;
}
.asset #overlay {
    opacity: 0;
    transition: 0.5s;
}
.asset #overlay:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px 4px 0 0;
}
.asset #description {
    opacity: 0;
    transition: 0.3s;
}
.asset #description:hover {
    opacity: 1;
}
.asset a {
    text-decoration: none;
}
.asset img {
    border-radius: 4px 4px 0 0;
}
.asset div {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0;
}
.asset:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

/*******************************************************************************
 * Card
 ******************************************************************************/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 4rem;
    border-radius: 4px;
    background-color: white;
}
.card a {
    text-decoration: none;§
}
.card div {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.card .icon img {
    width: 100%;
    /* height: 40px; */
    vertical-align: bottom;
}
.card h5 {
    margin-bottom: 0;
}


/*******************************************************************************
 * Hover flash
 ******************************************************************************/
.hoverflash:hover {
    animation: flash 0.6s;
    animation-timing-function: ease-in-out;
}

@keyframes flash {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(130%);
    }
    100% {
        filter: brightness(100%);
    }
}
/*******************************************************************************
 * Image and video hero banner
 * Text on top of it should be white
 ******************************************************************************/
.hero {
    background-size: cover;
    background-position: center;
    display: block;
}
