---
---

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?99550406');
  src:
    url('../fonts/fontello.eot?99550406#iefix')
    format('embedded-opentype'),
    url('../fonts/fontello.woff2?99550406') format('woff2'),
    url('../fonts/fontello.woff?99550406') format('woff'),
    url('../fonts/fontello.ttf?99550406') format('truetype'),
    url('../fonts/fontello.svg?99550406#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-gameroom::before,
.icon-apple::before,
.icon-clipboard::before,
.icon-king::before,
.icon-defold::before,
.icon-search::before,
.icon-link-ext::before,
.icon-link::before,
.icon-attention::before,
.icon-amazon::before,
.icon-android::before,
.icon-html5::before,
.icon-ios::before,
.icon-linux::before,
.icon-windows::before,
.icon-macos::before,
.icon-clock::before,
.icon-star::before,
.icon-googleplay::before,
.icon-dropbox::before,
.icon-twitter::before,
.icon-slack::before,
.icon-instagram::before,
.icon-steam::before,
.icon-github::before,
.icon-facebook::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

.icon-gameroom::before {
  content: '\e800';
} /* '' */
.icon-apple::before {
  content: '\e809';
} /* '' */
.icon-clipboard::before {
  content: '\e819';
} /* '' */
.icon-king::before {
  content: '\e858';
} /* '' */
.icon-defold::before {
  content: '\e859';
} /* '' */
.icon-search::before {
  content: '\e86a';
} /* '' */
.icon-link-ext::before {
  content: '\e86f';
} /* '' */
.icon-link::before {
  content: '\e870';
} /* '' */
.icon-attention::before {
  content: '\e871';
} /* '' */
.icon-amazon::before {
  content: '\e872';
} /* '' */
.icon-android::before {
  content: '\e873';
} /* '' */
.icon-html5::before {
  content: '\e875';
} /* '' */
.icon-ios::before {
  content: '\e876';
} /* '' */
.icon-linux::before {
  content: '\e877';
} /* '' */
.icon-windows::before {
  content: '\e878';
} /* '' */
.icon-macos::before {
  content: '\e87a';
} /* '' */
.icon-clock::before {
  content: '\e87b';
} /* '' */
.icon-star::before {
  content: '\e87c';
} /* '' */
.icon-googleplay::before {
  content: '\e87d';
} /* '' */
.icon-dropbox::before {
  content: '\e87f';
} /* '' */
.icon-twitter::before {
  content: '\e881';
} /* '' */
.icon-slack::before {
  content: '\e883';
} /* '' */
.icon-instagram::before {
  content: '\e884';
} /* '' */
.icon-steam::before {
  content: '\e885';
} /* '' */
.icon-github::before {
  content: '\e886';
} /* '' */
.icon-facebook::before {
  content: '\e887';
} /* '' */
