---
layout: base
name: Asset Portal
---
<div class="section dark">
	<div class="container">
		<div class="row">
			<div class="columns two"><img src="/images/icons/community-assets-on-dark.svg" style="max-width: 150px"/></div>
			<div class="columns eight">
				<h1>Asset portal</h1>
				<p>Whether you're looking for extensions, pathfinders, sprite sets, example projects or code snippets—you name it, we've got it!</p>
			</div>
			<div class="columns two" style="vertical-align: bottom; height: 100%">{% include secondary_button.html link="/submit_asset" text="Submit asset" %}</div>
		</div>
		<div class="row compact" style="margin-bottom: 30px">
			{%- assign alltags = site.data.assetindex | map: "tags" -%}
			{%- assign tags = alltags | uniq | sort -%}
			<p>FILTER</p>
			<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); grid-gap: 0 1rem; font-size: 0.9em;">
				<a class="filter filter_asset" href="javascript: filter('asset');">ALL ({{ site.data.assetindex.size }})</a>
				{%- for tag in tags -%}
					{% assign tagged_assets = site.data.assetindex | where: "tags", tag %}
					{% assign tag_no_space = tag | replace: " ", "" | downcase %}
					<a class="filter filter_{{ tag_no_space }}" href="javascript: filter('{{ tag_no_space }}');">{{ tag }} ({{ tagged_assets.size }})</a>
				{%- endfor -%}
			</div>
			<br/>
		</div>
		<div class="row">
			<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 2rem; padding: 0px;">
				{%- assign assetids = site.data.assetindex | map: "id" -%}
				{%- for id in assetids -%}
					{% include asset.html id=id %}
				{%- endfor -%}
			</div>
		</div>
		<div class="row" style="margin-top: 30px">
			<div class="columns ten"><br/></div>
			<div class="columns two">{% include secondary_button.html link="/submit_asset" text="Submit asset" %}</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function show_all(selector) {
		var assets = document.querySelectorAll(selector);
		for (var i = 0; i < assets.length; i++) {
			assets[i].style.display = "block";
			assets[i].style.textDecoration = "underline";
		}
	}
	function hide_all(selector) {
		var assets = document.querySelectorAll(selector);
		for (var i = 0; i < assets.length; i++) {
			assets[i].style.display = "none";
			assets[i].style.textDecoration = "none";
		}
	}
	function filter(tag) {
		var filters = document.querySelectorAll(".filter");
		for (var i = 0; i < filters.length; i++) {
			filters[i].style.fontWeight = "normal";
			filters[i].style.color = null;
		}
		var filters = document.querySelectorAll(".filter_" + tag);
		for (var i = 0; i < filters.length; i++) {
			filters[i].style.fontWeight = "bolder";
			filters[i].style.color = "white";
		}

		hide_all(".asset");
		show_all("." + tag);
	}
	filter("asset");
</script>
