---
layout: hero_and_text
title: Defold Community Donations
description: The Defold Foundation is funding Defold development through community donations, corporate partners, partnership deals and support contracts. The funds received from donations are used for hiring developers to work on Defold, pay for hosting of services, purchase of hardware for testing and development and to pay for travel expenses when attending conferences.
nav: floating
background: /images/hero/defold-top-bg-transparent-2.png
after: [donors_and_partners.html]
heatmap: true
---

<h3>Community donations</h3>
<p>The Defold community of individuals and teams of developers are invited to support Defold development through one-time or recurring donations, starting at $3 per month up to a maximum of $250 per month. The current community donation goal and the community donation rewards and benefits, which are awarded based on the size of your contribution, can be seen below:</p>

<div class="row">
	<div class="columns eight">
		<h5>Rewards and benefits</h5>
	</div>
	<div class="columns four">
		<h5>Community donation goal</h5>
	</div>
</div>
<div class="row">
	<div class="columns four">
		<ul class="checkmark">
			<li>A forum badge and title that will show you as a community sponsor</li>
			<li>Recognition in our newsletter</li>
			<li>Invites to test new functionality before everyone else</li>
			<li>Mention in the community donors section on the Defold webpage</li>
		</ul>
	</div>
	<div class="columns four">
		<ul class="checkmark">
			<li>Defold T-Shirt and other swag</li>
			<li>Nintendo Switch access and other functionality only available to community donors</li>
			<li>Free one-on-one support sessions every month</li>
		</ul>
	</div>
	<div class="columns four">
		<p>The Defold native extension build servers are hosted with AWS and provided completely free of charge to all of our users. The cost is roughly $1300/month and paid for in full by the Defold Foundation. Our goal is that 50% of the cost should be paid from community donations. If you wish to support us and help keep the servers running then please join as a monthly sponsor or increase your existing monthly donation.</p>
		<h5 class="center blue-text" style="margin-bottom: 10px;">$620 of $650</h5>
		<p class="center light-text" style="font-size: smaller;">(As of 2021-05-18)</p>
	</div>
</div>


<div class="row center">
	<div class="column one-half">
		<h4>Sponsor via GitHub</h4>
		<p>{% include github_sponsors.html %}</p>
	</div>
	<div class="column one-half">
		<h4>Support us via Patreon</h4>
		<p>{% include patreon.html %}</p>
	</div>
</div>


<div class="row center">
	<div class="column one-half">
		<h4>Donate using PayPal</h4>
		<p>{% include paypal.html %}</p>
	</div>
	<div class="column one-half">
		<h4>Donate Bitcoin</h4>
		<p><a href="bitcoin:1CLpqqrMCrXTs3DxCARcn865yqLsEGyM7P">1CLpqqrMCrXTs3DxCARcn865yqLsEGyM7P</a></p>
	</div>
</div>


<h3>Other ways to support Defold</h3>
<p>If you do not wish to support Defold through a donation you can still contribute in other ways. As a free to use, source available, project Defold accepts community contributions to any part of the product, including, but not limited to, the engine, editor, extensions and documentation.</p>

<div class="center">
	{% include secondary_button.html link="/contribute" text="Learn how to contribute" %}
</div>


<br/>
<br/>
<img src="/images/beans/placeholder-beans-image.png" alt="Cartoon character holding a You Rock message!" width="100%"/>
