---
layout: hero_and_text
title: Defold Community Donations
description: The Defold Foundation is funding Defold development through community donations, corporate partners, partnership deals and support contracts.
nav: floating
background: /images/hero/defold-top-bg-transparent-2.png
after: [community_donors.html, corporate_partners.html]
---

<h3>Why we seek donations</h3>
<p>As a software foundation we rely on community donations to ensure the long term sustainability of the project. The funds received from donations are used for:</p>

<div class="row">
	<div class="columns six left">
		<ul class="checkmark">
			<li>Hiring developers to work on Defold</li>
			<li>Pay for hosting of services</li>
			<li>Purchase of hardware for testing and development</li>
			<li>Pay for travel expenses when visiting conferences</li>
		</ul>
	</div>
	<div class="columns six center">
		<img src="/images/beans/bean-intro_bean-blue-sign-left.png" alt="Cartoon character holding a You Rock message!" height="175px"/>
	</div>
</div>


<h3>Community donations</h3>
<p>The Defold community of individuals and teams of developers are invited to support Defold development based on a small recurring donation using Patreon and PayPal, starting at $1 per month up to a maximum of $250 per month. You can also make a one-time donation using PayPal.</p>
<p>Depending on the size of your contribution you may get access to otherwise restricted content, receive mention on the Defold website, in our newsletter and receive a forum badge to highlighting you as a contributor. Click on the support and donation links below to know more.</p>

<div class="row center">
	<div class="columns six">
		<h4>Support us via Patreon</h4>
		<p>{% include patreon.html %}</p>
	</div>
	<div class="columns six">
		<h4>Donate using PayPal</h4>
		<p>{% include paypal.html %}</p>
	</div>
</div>

<br/>
<br/>
<img src="/images/beans/placeholder-beans-image.png" alt="Cartoon character holding a You Rock message!" width="100%"/>
