---
layout: base
title: Contribute
nav: floating
background: /images/hero/defold-top-bg-transparent-2.png
---

<div class="section narrow lightest-text">
	<div class="container">
		<div class="row">
			<div class="column one-half left">
				<h2>Contribute</h2>
				<p>Join the Defold contributor team and help us shape the future of Defold!</p>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="columns twelve">
				<p>Defold is developed by a team of developers from the [Defold Foundation](/foundation). As an open source project we also accept community contributions to any part of the product, including, but not limited to, the engine, editor, extensions and documentation.</p>
				<p>The source code is available on GitHub and it is divided into multiple repositories. Below is a list of the main repositories:</p>
			</div>
		</div>
		<div class="row">
			<div class="columns six">
				<ul class="checkmark">
					<li><a href="https://github.com/defold/defold" target="_blank">Engine and editor</a></li>
					<li><a href="https://github.com/defold/extender" target="_blank">Extension build server</a></li>
				</ul>
			</div>
			<div class="columns six">
				<ul class="checkmark">
					<li><a href="https://github.com/defold/doc" target="_blank">Manuals and Tutorials</a></li>
					<li><a href="https://github.com/defold/examples" target="_blank">Examples</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve">
				<h4>Contribution guidelines</h4>
				<p>Before you make your first contribution it is recommended that you familiarize yourself with our contribution guidelines. The guidelines exist to ensure that your contribution is of good quality, does what it is supposed to do, has no unwanted side-effects and that you are legally allowed to make the contribution. Below is a short summary of the guidelines. Head over to GitHub to read the full guidelines.</p>
			</div>
		</div>
		<div class="row">
			<div class="columns six">
				<h5>Bugfixes</h5>
				<ul class="checkmark">
					<li>Does the contribution solve a single problem?</li>
					<li>Is the contribution covered by unit tests?</li>
					<li>Is the contribution tested on all applicable platforms?</li>
					<li>Is the contribution following existing code style and patterns?</li>
					<li>Are you legally entitled to make the contribute?</li>
				</ul>
			</div>
			<div class="columns six">
				<h5>New features</h5>
				<ul class="checkmark">
					<li>Does the contribution add a single feature?</li>
					<li>Is the new functionality well designed?</li>
					<li>Is the contribution covered by unit tests?</li>
					<li>Is the contribution tested on all applicable platforms?</li>
					<li>Is the contribution following existing code style and patterns?</li>
					<li>Are you legally entitled to make the contribute?</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve center">
				<br/>
				{% include primary_button.html link="https://github.com/defold/defold/blob/dev/CONTRIBUTING.md" target="_blank" text="Contribution guidelines" %}
			</div>
		</div>
		<div class="row">
			<div class="columns twelve">
				<br/>
			</div>
		</div>
	</div>
</div>

{% include opensource_section.html %}
