---
layout: hero_and_text
title: Support Defold
description: The Defold Foundation is funding Defold development through community donations, corporate partners, partnership deals and support contracts.
nav: floating
background: /images/hero/defold-top-bg-transparent-2.png
after: [donors_and_partners.html]
heatmap: false
---

<!-- <h2>Why we seek donations and partnerships</h2> -->

<div class="row">
	<div class="columns six">
		<h4>Why donate?</h4>
		<p>As a software foundation we rely on community donations and corporate partnerships to ensure the long term sustainability of the project. The funds received from donations and partnerships are used for:</p>
		<ul class="checkmark">
			<li>Pay developers working on Defold</li>
			<li>Pay for hosting of services</li>
			<li>Purchase of hardware for testing and development</li>
			<li>Pay for travel expenses when visiting conferences</li>
		</ul>
	</div>
	<div class="columns six card light">
		<p>Support development of Defold directly through the GitHub Sponsors program:</p>

		<div class="grid-150">
			{% include secondary_button.html link="https://github.com/sponsors/defold?frequency=recurring&amount=5" text="$5 a month" target="_blank"%}
			{% include secondary_button.html link="https://github.com/sponsors/defold?frequency=recurring&amount=10" text="$10 a month" target="_blank"%}
			{% include secondary_button.html link="https://github.com/sponsors/defold?frequency=recurring&amount=15" text="$15 a month" target="_blank"%}
			{% include secondary_button.html link="https://github.com/sponsors/defold?frequency=recurring&amount=25" text="$25 a month" target="_blank"%}
			{% include secondary_button.html link="https://github.com/sponsors/defold?frequency=recurring" text="Other amount" target="_blank"%}
			{% include secondary_button.html link="https://github.com/sponsors/defold?frequency=one-time" text="One time" target="_blank"%}
		</div>

		<p>You can also donate through <a href="https://www.patreon.com/bePatron?u=25380529" target="_blank">Patreon</a> and <a href="https://www.paypal.com/donate/?hosted_button_id=G8L5TY724HQGE" target="_blank">PayPal</a>. Interested in a corporate partnership? <a href="/corporate-partnerships">Find out more</a>.</p>
	</div>
</div>

<br/>
<br/>
<img src="/images/beans/placeholder-beans-image.png" alt="Cartoon character holding a You Rock message!" width="100%"/>
