---
layout: hero_and_text
title: Donate and support Defold
description: Defold is funding development through community donations, corporate partners, partnership deals and support contracts. We accept donations of any size from individuals, organisations and corporations.
nav: floating
background: /images/hero/defold-top-bg-transparent-2.png
after: [opensource_section.html, corporate_partners.html]
---

<h2>Why we seek donations and partnerships</h2>
<p>As a software foundation we rely on community donations and corporate partnerships to ensure the long term sustainability of the project. You can make monthly donations using Patreon or one time donations using PayPal. The donations and partnerships are used for:</p>
<ul class="checkmark">
	<li>Hiring developers to work on Defold</li>
	<li>Pay for hosting of services</li>
	<li>Purchase of hardware for testing and development</li>
	<li>Pay for travel expenses when visiting conferences</li>
</ul>

<h3>Community donations</h3>
<p>The Defold community of individuals and teams of developers are invited to support Defold development based on a small recurring donation, starting at $1 per month up to a maximum of $250 per month. As a contributor you will receive mention on the Defold website and newsletter and you will be able to use a badge on the Defold forum highlighting you as a contributor.</p>

<p>{% include patreon.html %}</p>
<p>{% include paypal.html %}</p>

<h3>Corporate partnership</h3>
<p>The corporate partnership is available to corporations and organizations who want the option to fund development of specific functionality. In addition to this, corporate partners can get prominent mentions on the Defold site, in newsletters and in the Defold editor. Corporate partners will also get invitations to participate at special events hosted by the foundation.</p>

<p>We offer the following levels of corporate partnership:</p>

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); grid-gap: 2rem; padding: 0px;">
	<div class="card light">
		<div>
			<h4 class="center">Platinum</h4>
			<h5 class="center">$48000/year ($4000/month)</h5>
			<ul class="checkmark compact">
				<li>Your company logo, name and link in the Platinum corporate partner section on the Defold site and GitHub</li>
				<li>Your company logo and name on the Editor Splash Screen</li>
				<li>Your advert in the bi-weekly Defold newsletter</li>
				<li>Your company logo and name on marketing material</li>
				<li>Your company name mentioned in presentations</li>
				<li>You will be invited first to participate in special events</li>
				<li>16 man-weeks of development time</li>
			</ul>
		</div>
	</div>
	<div class="card light">
		<div>
			<h4 class="center">Gold</h4>
			<h5 class="center">$24000/year ($2000/month)</h5>
			<ul class="checkmark compact">
				<li>Your company logo, name and link in the Gold corporate partner section on the Defold site and GitHub</li>
				<li>Your company logo on the Editor Splash Screen</li>
				<li>Your advert in the bi-weekly Defold newsletter</li>
				<li>You will be invited after Platinum partners to participate in special events</li>
				<li>8 man-weeks of development time</li>
			</ul>
		</div>
	</div>
	<div class="card light">
		<div>
			<h4 class="center">Silver</h4>
			<h5 class="center">$12000/year ($1000/month)</h5>
			<ul class="checkmark">
				<li>Your company logo, name and link in the Silver corporate partner section on the Defold site and GitHub</li>
				<li>Your advert in the bi-weekly Defold newsletter</li>
				<li>You will be invited after Gold partners to participate in special events</li>
				<li>4 man-weeks of development time</li>
			</ul>
		</div>
	</div>
	<div class="card light">
		<div>
			<h4 class="center">Bronze</h4>
			<h5 class="center">$6000/year ($500/month)</h5>
			<ul class="checkmark">
				<li>Your company logo and link in the Bronze corporate partner section on the Defold site and GitHub</li>
				<li>You will be invited after Silver partners to participate in special events</li>
				<li>2 man-weeks of development time</li>
			</ul>
		</div>
	</div>
</div>
