---
layout: base
title: Download Defold
nav: floating
---

<div class="section hero center blackwhite" style='background-image: url("/images/hero/hero-background.jpg");'>
	<div class="container">
		<div class="row">
			<div class="left">
				<div class="column one-half">
					<h2>Download Defold</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section light center">
	<div class="container">
		<div class="row">
			<div class="columns four">
				<span class="icon-apple blue-text" style="font-size: 50px"></span>
				<p>Requires macOS 10.7 Lion or newer</p>
				{% include primary_button.html link="https://www.defold.com/download/editor2/Defold-x86_64-darwin.dmg" text="Download for Mac" %}
			</div>
			<div class="columns four">
				<span class="icon-windows blue-text" style="font-size: 50px"></span>
				<p>Requires Windows Vista or newer</p>
				{% include primary_button.html link="https://www.defold.com/download/editor2/Defold-x86_64-win32.zip" text="Download for Windows" %}
			</div>
			<div class="columns four">
				<span class="icon-linux blue-text" style="font-size: 50px"></span>
				<p>Requires Ubuntu 16.04 (64-bit) or newer</p>
				{% include primary_button.html link="https://www.defold.com/download/editor2/Defold-x86_64-linux.zip" text="Download for Linux" %}
			</div>
		</div>
	</div>
	<div class="row">
		<p>(Looking for older versions of Defold or the command line tools? Go to <a href="https://d.defold.com" target="_blank">d.defold.com</a>)</p>
	</div>
</div>

<div class="section light center">
	<div class="container">
		<div class="row">
			<div class="columns three">
				<img src="/images/beans/bean-mail_bean-blue-sign-right.png" width="75%"/>
			</div>
			<div class="columns six left">
				<h4>Sign up for Defold news</h4>
				<p>We occasionally send product updates, game releases, and tips & tricks to our users. The e-mails are optional, sent our sparingly (we dislike spam just as much as you do), and you can opt out any time.</p>
				<!-- Begin Mailchimp Signup Form -->
				<form action="https://defold.us11.list-manage.com/subscribe/post?u=ef973349acdf63506ac5b790e&amp;id=ad63160406" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL">Email Address </label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" size="40" required>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ef973349acdf63506ac5b790e_ad63160406" tabindex="-1" value=""></div>
				</form>
				<!--End mc_embed_signup-->

			</div>
			<div class="columns three"><br/></div>
		</div>
	</div>
</div>

{% include learn_section.html %}
