---
layout: hero_and_text
title: Download Defold
description: Defold is a completely free to use game engine for development of console, desktop, mobile and web games. There's nothing to set up or configure, not even when building. Simply download the editor and get creative!
nav: floating
heatmap: false
background: /images/hero/defold-top-bg-transparent-2.png
after: [always_free.html, learn_section.html, donors_and_partners.html]
---

<script type="text/javascript">
	function downloadEditor(select) {
		window.location.href = select.value;
		select.value = "Download for Mac";
	}
</script>
<div class="row center">
	<div class="columns four">
		<span class="icon-apple blue-text" style="font-size: 50px"></span>
		<p>Requires macOS 11 Big Sur or newer</p>
		<form style="margin: 0;">
			<select name="select" class="button primary download-select" onChange="downloadEditor(this)">
				<option selected disabled hidden>Download for Mac</option>
				<option value="https://d.defold.com/editor2/channels/editor-alpha/Defold-arm64-macos.dmg">Apple Silicon Mac</option>
				<option value="https://d.defold.com/editor2/channels/editor-alpha/Defold-x86_64-macos.dmg">Intel Mac</option>
			</select>
		</form>
		<p><a href="https://forum.defold.com/c/releasenotes" target="_blank">Release notes</a></p>
	</div>
	<div class="columns four">
		<span class="icon-windows blue-text" style="font-size: 50px"></span>
		<p>Requires Windows Vista or newer</p>
		{% include primary_button.html link="https://d.defold.com/editor2/channels/editor-alpha/Defold-x86_64-win32.zip" text="Download for Windows" %}
		<p><a href="https://forum.defold.com/c/releasenotes" target="_blank">Release notes</a></p>
	</div>
	<div class="columns four">
		<span class="icon-linux blue-text" style="font-size: 50px"></span>
		<p>Requires Ubuntu 18.04 (64-bit) or newer</p>
		{% include primary_button.html link="https://d.defold.com/editor2/channels/editor-alpha/Defold-x86_64-linux.zip" text="Download for Linux" %}
		<p><a href="https://forum.defold.com/c/releasenotes" target="_blank">Release notes</a></p>
	</div>
</div>

<div class="row center">
	<br/>
	<p>Looking for older versions of Defold or the command line tools? Find them on <a href="https://github.com/defold/defold/releases" target="_blank">github.com</a></p>
	<br/>
</div>

<div class="row center">
	<div class="columns four">
		<br/>
	</div>
	<div class="columns four">
		<iframe src="https://store.steampowered.com/widget/1365760" frameborder="0" width="100%" height="190" seamless="seamless" sandbox="allow-same-origin allow-scripts allow-forms allow-popups allow-popups-to-escape-sandbox allow-presentation"></iframe>
	</div>
	<div class="columns four">
		<br/>
	</div>
</div>
