---
layout: default
title: Home
---

<div class="section hero center" style='background-image: url("/assets/images/frontpage-hero-video-poster.jpg");'>
	<div class="container">
		<div class="row">
			<div>
				<img src="assets/images/defold-logo-ver-classic-white.png" width="20%"/>
				<h2>The ultimate game engine for web and mobile</h2>
				{% include primary_button.html link="https://d.defold.com" text="Download for free" %}
			</div>
		</div>
	</div>
</div>


<div class="section light">
	<div class="container">
		<div class="row">
			<div class="column one-third">
				{% include card.html title="Defold" body="Defold is a professional tool for game development which lets you focus on what you do best—making games." height="100" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Free" body="Defold is free to use for both hobby and commercial projects." height="100%" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Games" body="Used at professional and indie studios worldwide, it’s a proven tool for games of all genres—from match threes to MMO:s." link="https://www.defold.com/learn" height="100" %}
			</div>
		</div>
	</div>
</div>

<div class="section dark">
	<div class="container">
		<div class="row">
			<div class="column one-half">
				<h4>No setup</h4>
				<p>Defold comes fully features out of the box. There's nothing to set up or configure, not even when bundling. Simply download the editor and get creative!</p>
				<div class="twocolumnlist">
					<ul class="checkmark">
						<li>Visual Editor</li>
						<li>Code Editor</li>
						<li>Lua Debugger</li>
						<li>Scene Editor</li>
						<li>Particle Editor</li>
						<li>Tilemap Editor</li>
					</ul>
				</div>
			</div>
			<div class="column one-half">
				<img src="assets/images/nosetup-editor.png" style="display:block; margin: auto;"/>
			</div>
		</div>
		<div class="row center">
			<br/>
		</div>
		<div class="row">
			<div class="column one-half">
				<img src="assets/images/platforms-larger-blue.png" width="75%" style="display:block; margin: auto; "/>
			</div>
			<div class="column one-half">
				<h4>Truly cross-platform</h4>
				<p>Using just one code base, and without the need for external tools, Defold lets you publish your game to a multitude of platforms, including:</p>
				<div class="twocolumnlist">
					<ul class="checkmark">
						<li>HTML5</li>
						<li>Android</li>
						<li>iOS</li>
						<li>Steam</li>
						<li>FB Instant Games</li>
						<li>Windows</li>
						<li>macOS</li>
						<li>Linux</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row center">
			<br/>
		</div>
		<div class="row">
			<div class="column one-half">
				<h4>Easy Device Testing with Hot Reload</h4>
				<p>Work on your computer, test on your device. All changes you make can be reloaded and instantly previewed on your device. No need to rebuild and reinstall.</p>
			</div>
			<div class="column one-half">
				<img src="assets/images/platforms-larger-blue.png" width="75%" style="display:block; margin: auto;"/>
			</div>
		</div>
	</div>
</div>


<div class="section light">
	<div class="container">
		<div class="row">
			<div class="column one-third">
				{% include card.html title="Defold" body="Defold is a professional tool for game development which lets you focus on what you do best—making games." height="100" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Free" body="Defold is free to use for both hobby and commercial projects." height="100%" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Games" body="Used at professional and indie studios worldwide, it’s a proven tool for games of all genres—from match threes to MMO:s." link="https://www.defold.com/learn" height="100" %}
			</div>
		</div>
	</div>
</div>

<div class="section dark">
	<div class="container">
		<div class="row">
			<div class="column one-half">
				<h4>No setup</h4>
				<p>Defold comes fully features out of the box. There's nothing to set up or configure, not even when bundling. Simply download the editor and get creative!</p>
				<div class="twocolumnlist">
					<ul class="checkmark">
						<li>Visual Editor</li>
						<li>Code Editor</li>
						<li>Lua Debugger</li>
						<li>Scene Editor</li>
						<li>Particle Editor</li>
						<li>Tilemap Editor</li>
					</ul>
				</div>
			</div>
			<div class="column one-half">
				<img src="assets/images/nosetup-editor.png" style="display:block; margin: auto;"/>
			</div>
		</div>
		<div class="row center">
			<br/>
		</div>
		<div class="row">
			<div class="column one-half">
				<img src="assets/images/platforms-larger-blue.png" width="75%" style="display:block; margin: auto; "/>
			</div>
			<div class="column one-half">
				<h4>Truly cross-platform</h4>
				<p>Using just one code base, and without the need for external tools, Defold lets you publish your game to a multitude of platforms, including:</p>
				<div class="twocolumnlist">
					<ul class="checkmark">
						<li>HTML5</li>
						<li>Android</li>
						<li>iOS</li>
						<li>Steam</li>
						<li>FB Instant Games</li>
						<li>Windows</li>
						<li>macOS</li>
						<li>Linux</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row center">
			<br/>
		</div>
		<div class="row">
			<div class="column one-half">
				<h4>Easy Device Testing with Hot Reload</h4>
				<p>Work on your computer, test on your device. All changes you make can be reloaded and instantly previewed on your device. No need to rebuild and reinstall.</p>
			</div>
			<div class="column one-half">
				<img src="assets/images/platforms-larger-blue.png" width="75%" style="display:block; margin: auto;"/>
			</div>
		</div>
	</div>
</div>

<div class="section light">
	<div class="container">
		<div class="row center">
			<h1>Learn Defold</h1>
		</div>
		<div class="row">
			<div class="column one-third">
				{% include card.html title="Tutorials" body="Our tutorials section is the perfect starting point if you are new to Defold game development." link="https://www.defold.com/learn/tutorials" height="100%" svg="icons-learn-export_ic-learn-tutorials.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Manuals" body="In-depth manuals provide understanding on how the Defold engine and its API's work." link="https://www.defold.com/learn/manuals" height="100%" svg="icons-learn-export_ic-learn-manuals.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="API Reference" body="Reference documentation to all Defold Lua and C++ extension API's." link="https://www.defold.com/ref"  height="100%" svg="icons-learn-export_ic-learn-apiref.svg" %}
			</div>
		</div>
		<div class="row center">
			<br/>
		</div>
		<div class="row">
			<div class="columns two"><br/></div>
			<div class="column one-third">
				{% include card.html title="Examples" body="A selection of small and discrete code samples, examples and snippets to learn from." link="https://www.defold.com/examples" height="100%" svg="icons-learn-export_ic-learn-lego.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Forum" body="Stuck? Not for long! Talk to the Defold team and our fantastic developer community." link="https://forum.defold.com" height="100%" svg="icons-learn-export_ic-learn-forum.svg" %}
			</div>
			<div class="columns two"><br/></div>
		</div>
	</div>
</div>
