---
layout: base
title: Instant Games
nav: floating
---

<div class="section hero center blue" style='background-image: url("/images/hero/bg-hero.svg"); background-position: center bottom; background-size: cover;'>
	<div class="container">
		<div class="row">
			<div class="columns two"><br/></div>
			<div class="columns eight">
				<img src="/images/logo/DefoldLogoColour.svg" width="35%"/>
				<br/>
				<br/>
				<h1>Create Instant Games with Defold</h1>
				<p>Defold is the full-featured, turn-key solution capable of building fast, lightweight HTML5 games.</p>
				<br/>
				{% include secondary_button.html link="/manuals/instant-games" text="View manual" %}
			</div>
			<div class="columns two"><br/></div>
		</div>
	</div>
</div>

<div class="section hero blue" style="margin-top: 0; padding-top: 0">
	<div class="container">
		<div class="row">
			<div class="column one-third">
				{% include card.html title="Tiny engine" body="Tiny engine footprint below 700 kB and OTA functionality enables instant startup times with content loading when needed." link="/product" min-height="300px" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Games for everyone" body="Defold’s focus on performance makes games accessible to everyone, regardless of which device they are on." link="/product" min-height="300px" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Full Instant Games support" body="Defold has full support for the Instant Games API, and is fully compatible with all Facebook game platforms." link="/product" min-height="300px" %}
			</div>
		</div>
	</div>
</div>

<div class="section hero lightest-text" style='background-image: url("/images/hero/bg-xoxo.svg"); margin-bottom: 0; padding-bottom: 0'>
	<div class="container">
		<div class="row">
			<div class="column one-half center">
				<img src="/images/games/xoxo_logo.svg"/>
				<br/>
				<br/>
				<p>XOXO is a fully-featured Facebook Instant Game example, made with Defold. Download it for free, if you’re the “learning-by-doing” type of person.</p>
				{% include secondary_button.html link="https://github.com/defold/extension-fbinstant/#tic-tac-toe-example" text="View source on GitHub" %}
			</div>
			<div class="column one-half center">
				<img src="/images/games/xoxo1.png" style="vertical-align: bottom;"/>
			</div>
		</div>
	</div>
</div>

{% include features_section.html %}

{% include yellow_download_section.html %}
