---
layout: base
title: Learn
nav: floating
---

<div class="section hero center blackwhite" style='background-image: url("/images/hero/hero-background.jpg");'>
	<div class="container">
		<div class="row">
			<div class="column one-half left">
				<h2>Get smart!</h2>
				<p>Whether you are new to Defold or a seasoned code ninja, the learn centre is your go-to place for all things Defold.</p>
			</div>
		</div>
	</div>
</div>

<div class="section light">
	<div class="container">
		<div class="row">
			<div class="column one-third">
				{% include card.html title="Examples" body="A selection of code samples and examples to learn from." link="/examples" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-toolbox.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Tutorials" body="Our tutorials section is the percect place to start from if you are new to Defold game development." link="/tutorials/getting-started" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-tutorials.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Manuals" body="In-depth manuals provide understanding on how the Defold engine and its APIs work." link="/manuals/introduction"  min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-manuals.svg" %}
			</div>
		</div>

		<div class="row">
			<div class="column one-third">
				{% include card.html title="API Reference" body="Reference documentation to all Defold Lua and C++ extension APIs." link="/ref/go" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-apiref.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="FAQ" body="The FAQ contains the answers and solutions to common questions and problems." link="/faq/faq" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-faq.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Forum" body="Stuck? Talk to the Defold team and our great Defold developer community." link="//forum.defold.com" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-forum.svg" %}
			</div>
		</div>

		<div class="row">
			<div class="column one-third">
				{% include card.html title="Slack" body="Want to chat with other Defold users? Join our Slack channel to start chatting!." link="/slack" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-slack.svg" %}
			</div>
			<div class="column one-third">
			</div>
			<div class="column one-third">
			</div>
		</div>
	</div>
</div>
