---
layout: base
title: License
nav: floating
---

<div class="section hero blackwhite" style='background-image: url("/images/hero/testimonials-background-0.5x.png");'>
	<div class="container">
		<div class="row">
			<div class="column one-half">
				<h2>The Defold License</h2>
				<p>Defold is created and distributed under the Defold License. The Defold License is derived from the popular MIT license.</p>
			</div>
		</div>
	</div>
</div>
<div class="section hero dark">
	<div class="container">
		<div class="row">
			<div class="columns twelve">
				<p>The Defold license is the legal requirement for you or your company to use and distribute Defold and derivative works such as the games you make with it. Your game or project can have a different license, but it still needs to comply with the original one.</p>
			</div>
		</div>
		<div class="row">
			<div class="columns six">
				<p>The license grants you the following permissions:</p>

				<ul class="nobullet">
					<li class="checkmark">You are free to use Defold for any purpose</li>
					<li class="checkmark">You are free to commercialise any application created using Defold</li>
					<li class="checkmark">You are free to commercialise any plugin, extension or tool created for Defold</li>
					<li class="checkmark">You are free to modify Defold in any way</li>
					<li class="checkmark">You are free to distribute unmodified or changed versions of Defold</li>
				</ul>
			</div>
			<div class="columns six">
				<p>The license is granted subject to the following conditions:</p>

				<ul class="nobullet">
					<li class="ballot">You are not allowed to commercialise the engine and/or editor</li>
					<li class="ballot">You must include the license text in any work you create</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve">
				<hr/>

				<tt>
				<p>Copyright (c) 2019 The Defold Foundation</p>

				<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software, including without limitation the rights to use, copy, modify, merge, publish, distribute and/or sublicense the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

				<p>The Software is not commercialized as a game engine or development tool, regardless if it has been changed or modified.</p>

				<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

				<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
				</tt>

				{% include primary_button.html link="https://github.com/defold/defold/blob/dev/LICENSE.txt" target="_blank" text="LICENSE.txt" %}

				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve">
				<h3>License inclusion</h3>
				<p>The Defold License specifies that you must include the license itself with all copies of Defold and in any derived work created using Defold. It is up to you to decide how you wish to distribute the license. Here are some examples of how this can be done:</p>

				<ul class="checkmark">
					<li>Show the license at the end of a credits screen if your application has one</li>
					<li>Show the license from a dedicated license screen or popup in your application</li>
					<li>Print the license to an output log when your application starts</li>
					<li>Put the license in a text file and include it with the distribution of your application</li>
					<li>Put the license in a printed manual included with your application</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% include opensource_section.html %}
