---
layout: hero_and_text
title: Free and Developer-Friendly
description: Defold is a free to use, source available, game engine with a developer-friendly license. Defold is owned and developed by the Defold Foundation.
nav: floating
background: /images/hero/defold-top-bg-transparent-2.png
after: [always_free.html, opensource_faq.html, donors_and_partners.html]
---

<div class="row">
	<div class="columns three">
		<h4>Developer friendly</h4>
		<p>Defold is a source available game engine with a developer-friendly license derived from the popular Apache 2.0 License. The license grants you the freedom to develop games without worrying about licensing fees or royalties.</p>

		{% include primary_button.html link="/license" text="Read the license" %}
	</div>
	<div class="columns three">
		<h4>Source on GitHub</h4>
		<p>Defold’s source code is available on GitHub, together with a wide range of open-source extensions, samples, and tutorials. GitHub is also where we manage issue tracking, pull requests, project planning, and our monthly releases.</p>

		{% include primary_button.html link="https://www.github.com/defold/defold" text="Check on GitHub" %}
	</div>
	<div class="columns three">
		<h4>Donate</h4>
		<p>As a software foundation we rely on community donations and corporate partnerships to ensure an active ownership and long term sustainability. We invite you to support Defold by making a one-time or recurring donation.</p>

		{% include primary_button.html link="/donate" text="Learn more & Donate" %}
	</div>
	<div class="columns three">
		<h4>Contribute</h4>
		<p>As a free to use, source available project, Defold welcomes community contributions across all parts of the product. Contributions can take many forms, such as reporting issues, submitting pull requests, and improving documentation.</p>

		{% include primary_button.html link="/contribute" text="How to contribute" %}
	</div>
</div>
