---
layout: hero_and_text
title: Free and Developer-Friendly
description: Defold is a free to use, source available, game engine with a developer-friendly license. Defold is owned and developed by the Defold Foundation.
nav: floating
background: /images/hero/defold-top-bg-transparent-2.png
after: [opensource_announcement_short.html, opensource_faq.html, newsletter_signup_link.html, community_donors.html, corporate_partners.html]
---

<div class="row">
	<div class="column one-third">
		<h4>License</h4>
		<p>Defold is a source available game engine with a developer-friendly license derived from the popular Apache 2.0 License. The license grants you the freedom to develop games without worrying about licensing fees or royalties.</p>

		{% include primary_button.html link="/license" text="Read the license" %}
	</div>
	<div class="column one-third">
		<h4>Donate</h4>
		<p>As a software foundation we rely on community donations and corporate partnerships to ensure the long term sustainability of the project. We invite you to make one-time or monthly donations to support Defold.</p>

		{% include primary_button.html link="/donate" text="Learn more & Donate" %}
	</div>
	<div class="column one-third">
		<h4>Contribute</h4>
		<p>As a free to use, source available, project Defold accepts community contributions to any part of the product, including, but not limited to, the engine, editor, extensions and documentation. The source code is available on GitHub.</p>

		{% include primary_button.html link="/contribute" text="How to contribute" %}
	</div>
</div>
