---
layout: page
title: Defold tutorials
nav: floating
---

<div class="section hero center blackwhite dark:darken-10" style='background-image: url("/images/hero/testimonials-background-0.5x.png");'>
	<div class="container">
		<div class="row">
			<div class="column one-half left">
				<h1>Learn by doing!</h1>
				<p>Our tutorials section is the perfect place to start from if you are new to Defold game development.</p>
			</div>
		</div>
	</div>
</div>

{% include learnnav.html showmenu=true %}

<div class="section lightest dark:dark">
	<div class="container">
		<div class="row">
			<div class="columns full">
				<h3>Tutorials</h3>
			</div>
		</div>
		<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 2rem; padding: 0px;">
			{%- for tutorial in site.data.learnindex.navigation.tutorials -%}
				{%- assign image=tutorial.image | default: "/images/icons/icons-learn-export_ic-learn-tutorials.svg" -%}
				{% include learn_card.html title=tutorial.name description=tutorial.description link=tutorial.path min-height="250px" image=image %}
			{%- endfor -%}
		</div>
	</div>
</div>

{% include learn_section.html %}
