---
layout: page
title: Defold videos
nav: floating
---

<div class="section hero center blackwhite dark:darken-10" style='background-image: url("/images/hero/testimonials-background-0.5x.png");'>
	<div class="container">
		<div class="row">
			<div class="column one-half left">
				<h1>Learn by watching!</h1>
				<p>The Defold video tutorials are a great starting point if you are a visual learner.</p>
			</div>
		</div>
	</div>
</div>

{% include learnnav.html showmenu=true %}

<div class="section lightest dark:dark">
	<div class="container">
		<div class="row">
			<div class="columns full">
				<h3>Videos</h3>
			</div>
		</div>
		{%- assign authors = site.data.learnindex.navigation.videos | map: "author" | uniq -%}
		{%- for author in authors -%}
			{%- assign videos = site.data.learnindex.navigation.videos | where: "author", author -%}
			<h3>{{ author }}</h3>
			<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 2rem; padding: 0px;">
			{%- for tutorial in videos -%}
				{% include youtube_card.html title=tutorial.name description=tutorial.description link=tutorial.path author=tutorial.author min-height="250px" image="/images/icons/yt_icon_rgb.svg" %}
			{%- endfor -%}
			</div>
		{%- endfor -%}
	</div>
</div>

{% include learn_section.html %}
