---
layout: page
title: Yandex.Games Jam
description: The Defold Foundation and Yandex.Games is hereby inviting Defold developers across the world to join a month long game jam. Developers will be challenged to create a themed web game showing their creative and developer skills as well as a good integration with the Yandex.Games SDK. The proud winner and runner-ups will receive marketing and advertisment for their submitted game, hardware, swag and bragging rights!
nav: floating
background: /images/hero/defold-top-bg-transparent-2.png
---

<div class="section narrow">
	<div class="container">
		<div class="row center">
			<div>
				<img src="/images/logo/defold/logo/logo-ver-classic-white-160.png" alt="Defold Logo"/>
				<br/>
				<br/>
				<img src="/images/logo/others/yandex.png" alt="Yandex Logo"/>
				<br/>
				<br/>
				<br/>
				<br/>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve">
				<h1>{{ page.title }}<br/>November 1st 2021 to December 1st 2021</h1>
				<p>{{ page.description }}</p>
			</div>
		</div>

		<div class="row">
			<div class="columns twelve">
				<h4>Yandex.Games</h4>
				<p><a href="https://yandex.com/games/" target='_blank'>Yandex.Games</a> is a catalog of browser-based online games that can be played on smartphones or desktop devices and require no installation. Yandex.Games is the home of several succesful games made with Defold. Here's a selection of games:</p>
			</div>
		</div>

		{% assign third = site.data.games | where: "yandex", "yes" %}
		{%- if third.size > 0 -%}
		<div class="row">
			<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(275px, 1fr)); grid-gap: 2rem; padding: 0px;">
				{%- for game in third limit:3 -%}
					{%- include game_third.html game=game -%}
				{%- endfor -%}
			</div>
		</div>
		{%- endif -%}

		<br/>
		<br/>
		<br/>

		<div class="row">
			<div class="columns twelve">
				<h4>Theme: TBA</h4>
				<p>The theme for the game jam has not been announced yet.</p>
			</div>
		</div>


		<div class="row">
			<div class="columns twelve">
				<!-- <img src="/images/beans/beans-header-assets_header-rules.png" alt="Bean character showing a sign"/> -->
				<h4>Rules</h4>
			</div>
		</div>
		<div class="row">
			<div class="columns six">
				<ul class="checkmark">
					<li>You must create an original game for the game jam and you must develop it during the game jam.</li>
					<li>You must incorporate some aspect of the theme in the game.</li>
					<li>You must use the Defold game engine when you create your game.</li>
				</ul>
			</div>
			<div class="columns six">
				<ul class="checkmark">
					<li>You are allowed to use existing tools, frameworks and libraries when creating the game.</li>
					<li>You must integrate and use the <a href="https://github.com/indiesoftby/defold-yagames" target="_blank">Yandex.Games SDK</a> in the game.</li>
					<li>You can create the game on your own or as part of a team.</li>
				</ul>
			</div>
		</div>


		<div class="row">
			<div class="columns twelve">
				<h4>Judging and Prizes</h4>
				<p>The submitted games will be judged and ranked in three categories:</p>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve">
				<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); grid-gap: 2rem; padding: 0px;">
					<div class="card grey">
						<div>
							<h4>People's Choice</h4>
							<p>The games will be ranked based on the average star rating given by the players.</p>
							<ul>
								<li><b class="lightest-text">1st place</b> - Bragging rights, Steam Gift Card and Defold merchandise</li>
								<li><b class="lightest-text">2nd place</b> - Bragging rights, Steam Gift Card and Defold merchandise</li>
								<li><b class="lightest-text">3rd place</b> - Bragging rights, Steam Gift Card and Defold merchandise</li>
								<li><b class="lightest-text">4th-10th place</b> - Bragging rights, Steam Gift Card and Defold merchandise</li>
							</ul>
						</div>
					</div>
					<div class="card grey">
						<div>
							<h4>Yandex' Choice</h4>
							<p>The team at Yandex will rank the games based on how well they believe the games will perform on the Yandex platform.</p>
							<ul>
								<li><b class="lightest-text">1st place</b> - iPhone 12 128 GB, Featuring and advertising of your game, worth $1500</li>
								<li><b class="lightest-text">2nd place</b> - iPhone 12 128 GB, Featuring and advertising of your game, worth $1000</li>
								<li><b class="lightest-text">3rd place</b> - iPhone 12 128 GB, Featuring and advertising of your game, worth $500</li>
								<li><b class="lightest-text">4th-10th place</b> - Featuring and advertising of your game, worth $200</li>
							</ul>
							<p>The games will be featured in the "Our Choice" category on Yandex and the games will be advertised in Yandex advertisinig channels.</p>
						</div>
					</div>
					<div class="card grey">
						<div>
							<h4>Defold's Choice</h4>
							<p>The Defold Foundation will rank the games based on technical excellence.</p>
							<ul>
								<li><b class="lightest-text">1st place</b> - PlayStation, Xbox or Nintendo Switch console, Steam Gift Card and an assortment of game keys, 4 hours of one-on-one Defold support</li>
								<li><b class="lightest-text">2nd place</b> - PlayStation, Xbox or Nintendo Switch console, Steam Gift Card and an assortment of game keys, 3 hours of one-on-one Defold support</li>
								<li><b class="lightest-text">3rd place</b> - PlayStation, Xbox or Nintendo Switch console, Steam Gift Card and an assortment of game keys, 2 hours of one-on-one Defold support</li>
								<li><b class="lightest-text">4th-10th place</b> - Steam Gift Card and an assortment of game keys, 1 hour of one-on-one Defold support</li>
							</ul>
							<p>One-on-one Defold support - Dedicated time from the Defold team to use for anything related to Defold development.</p>
							<p>Examples: Code review of your game. Advice and guidance on how to use Defold. Advice and guidance on how to implement a certain feature in your game.</p>
							<p><i>Disclaimer: The choice of consoles is depending on availability in the location of the winner and at the discretion of the Defold Foundation.</i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve">
				<h4>Winners</h4>
				<p>The winners will be announced two weeks after the game jam has ended. The announcement will be made here, on <a href="https://defold.com/blog" target='_blank'>the Defold blog</a> and on <a href="https://www.twitter.com/defold" target='_blank'>Twitter</a>.</p>
			</div>
		</div>

		<div class="row">
			<div class="columns twelve">
				<h4>Submissions</h4>
				<p>Submissions to this jam must be made through the <a href="https://yandex.ru/dev/games/doc/dg/concepts/quick-start.html">Yandex.Games dashboard</a>. Add "Submitted for the Defold and Yandex Game Jam" to the game's description. The game must pass Yandex moderation before it is accepted into the competition. Make sure to plan for this and submit a version ahead of the deadline to ensure that you catch any problems with the integration before the end of the jam.</p>
			</div>
		</div>
		<div class="row">
			<div class="columns twelve">
				<div class="center">
					{%- include primary_button.html text="Submit your game" link="https://games.yandex.ru/console" -%}
				</div>
			</div>
		</div>

		<br/>
		<br/>
		<br/>

		<div class="row">
			<div class="columns twelve">
				<div class="center">
					<img src="/images/beans/placeholder-beans-image.png"/>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>


	</div>

	{% include yandexgamesjam_faq.html %}
	{% include donors_and_partners.html %}
</div>
