<div class="section {{ include.class | default: 'dark' }}">
	<div class="container">
		<div class="row">
			<div class="columns twelve">
				<h4>Always free</h4>
				<p>Defold is, and will always remain, completely free to use. Defold will never change into a subscription model, request royalty payments, introduce licensing fees or in other ways charge for access to the main product. We can say this with absolute certainty as it is clearly stated in the objectives of the foundation that Defold must be made available for free and that it may not be commercialised. The objectives are protected by Swedish foundation law and cannot be changed. <a href="/foundation">Learn more about the foundation.</a></p>
			</div>
		</div>
	</div>
</div>
