{%- assign ref = include.ref -%}
{%- assign record_type_list = "STRUCT~CLASS" | split: "~" -%}
{%- assign records = ref.elements | where_exp: "item", "record_type_list contains item.type" -%}
{%- assign aliases = ref.elements | where: "type", "TYPEDEF" -%}
{%- assign enums = ref.elements | where: "type", "ENUM" -%}
{%- assign functions = ref.elements | where: "type", "FUNCTION" -%}
{%- assign messages = ref.elements | where: "type", "MESSAGE" -%}
{%- assign properties = ref.elements | where: "type", "PROPERTY" -%}
{%- assign macros = ref.elements | where: "type", "MACRO" -%}

{%- assign v = ref.elements | where: "type", "VARIABLE" -%}
{%- assign c = ref.elements | where: "type", "CONSTANT" -%}
{%- assign constants = v | concat: c -%}
{%- assign standalone_constants = constants | where_exp: "item", "item.is_enum_member != true" -%}

<h1>{{ ref.info.brief }}</h1>
<p>{{ ref.info.description_html }}</p>
<p>Version: {{ page.branch }}</p>

{% include api_lua_v2_summary.html title="TYPES" items=aliases %}
{% include api_lua_v2_summary.html title="RECORDS" items=records %}
{% include api_lua_v2_summary.html title="ENUMS" items=enums %}
{% include api_lua_v2_summary.html title="FUNCTIONS" items=functions %}
{% include api_lua_v2_summary.html title="CONSTANTS" items=standalone_constants %}
{% include api_lua_v2_summary.html title="MESSAGES" items=messages %}
{% include api_lua_v2_summary.html title="PROPERTIES" items=properties %}
{% include api_lua_v2_summary.html title="MACROS" items=macros %}

{%- if aliases.size > 0 -%}
<h2 id="types" data-pagefind-weight="7">Types</h2>
	{%- for alias in aliases -%}
	{% include ref_anchor_target.html element=alias %}
	<div data-pagefind-weight="8">
		<h4 id="{% include ref_anchorlink.html element=alias %}">{{ alias.name }}<a href="#{% include ref_anchorlink.html element=alias %}" class="anchor-link"></a></h4>
		<p><code>{{ alias.name | escape }} = {{ alias.target_type_html }}</code></p>
		<p>{{ alias.description }}</p>

		{%- if alias.examples.size > 0 -%}
		<p><b>EXAMPLES</b></p>
		{{ alias.examples }}
		{%- endif -%}
	</div>
	<hr/>
	{%- endfor -%}
{%- endif -%}

{%- if records.size > 0 -%}
<h2 id="records" data-pagefind-weight="7">Records</h2>
	{%- for record in records -%}
	{% include ref_anchor_target.html element=record %}
	<div data-pagefind-weight="8">
		<h4 id="{% include ref_anchorlink.html element=record %}">{{ record.name }}<a href="#{% include ref_anchorlink.html element=record %}" class="anchor-link"></a></h4>
		<p>{{ record.description }}</p>

		{%- if record.members.size > 0 -%}
		<p><b>FIELDS</b></p>
		<table class="api-lua-v2-fields">
			{%- for member in record.members -%}
			<tr>
				<td><code>{%- if member.is_optional -%}[{{ member.display_name }}]{%- else -%}{{ member.display_name }}{%- endif -%}</code></td>
				<td><code>{{ member.type_html }}</code></td>
				<td>{{ member.doc }}</td>
			</tr>
			{%- endfor -%}
		</table>
		{%- endif -%}

		{%- if record.examples.size > 0 -%}
		<p><b>EXAMPLES</b></p>
		{{ record.examples }}
		{%- endif -%}
	</div>
	<hr/>
	{%- endfor -%}
{%- endif -%}

{%- if enums.size > 0 -%}
<h2 id="enums" data-pagefind-weight="7">Enums</h2>
	{%- for enum in enums -%}
	{% include ref_anchor_target.html element=enum %}
	<div data-pagefind-weight="8">
		<h4 id="{% include ref_anchorlink.html element=enum %}">{{ enum.name }}<a href="#{% include ref_anchorlink.html element=enum %}" class="anchor-link"></a></h4>
		<p><code>{{ enum.name | escape }}: {{ enum.value_type_html }}</code></p>
		<p>{{ enum.description }}</p>

		{%- if enum.members.size > 0 -%}
		<p><b>VALUES</b></p>
		<table class="api-lua-v2-enum-values">
			{%- for member in enum.members -%}
			<tr id="{{ member.name }}" data-pagefind-weight="9">
				<td><a name="{{ member.name | downcase }}"></a><code>{{ member.name }}</code></td>
				<td>{{ member.doc }}</td>
			</tr>
			{%- endfor -%}
		</table>
		{%- endif -%}

		{%- if enum.examples.size > 0 -%}
		<p><b>EXAMPLES</b></p>
		{{ enum.examples }}
		{%- endif -%}
	</div>
	<hr/>
	{%- endfor -%}
{%- endif -%}

{%- if functions.size > 0 -%}
<h2 id="functions" data-pagefind-weight="7">Functions</h2>
	{%- for function in functions -%}
		{% include ref_anchor_target.html element=function %}
		<div data-pagefind-weight="10">
			<h4 id="{% include ref_anchorlink.html element=function %}">{{ function.name }}()<a href="#{% include ref_anchorlink.html element=function %}" class="anchor-link"
			data-pagefind-index-attrs="data-aliases"
			data-aliases="{% assign parts = function.name | split: '.' %}{{ parts | last }}"></a></h4>
			<p>{% include api_lua_v2_signature.html function=function %}</p>
			<p>{{ function.description }}</p>

			<p><b>PARAMETERS</b></p>
			{%- if function.parameters.size > 0 -%}
			{% include api_lua_v2_parameters.html parameters=function.parameters %}
			{%- else -%}
			<p>None</p>
			{%- endif -%}

			{%- if function.returnvalues.size > 0 -%}
			<p><b>RETURNS</b></p>
			{% include api_lua_v2_parameters.html parameters=function.returnvalues %}
			{%- endif -%}

			{%- if function.examples.size > 0 -%}
			<p><b>EXAMPLES</b></p>
			{{ function.examples }}
			{%- endif -%}
		</div>
		<hr/>
	{%- endfor -%}
{%- endif -%}

{%- if standalone_constants.size > 0 -%}
<h2 id="constants" data-pagefind-weight="7">Constants</h2>
	{%- for constant in standalone_constants -%}
	{% include ref_anchor_target.html element=constant %}
	<div data-pagefind-weight="8">
		<h5 id="{% include ref_anchorlink.html element=constant %}" class="compact">{{ constant.name }}<a href="#{% include ref_anchorlink.html element=constant %}" class="anchor-link"
		data-pagefind-index-attrs="data-aliases"
		data-aliases="{% assign parts = constant.name | split: '.' %}{{ parts | last }}"></a></h5>
		<p class="compact">{{ constant.description }}</p>

		{%- if constant.parameters.size > 0 -%}
		{% include api_lua_v2_parameters.html parameters=constant.parameters %}
		{%- endif -%}
	</div>
	{% if forloop.last == false %}<hr class="compact"/>{% else %}<hr/>{% endif %}
	{%- endfor -%}
{%- endif -%}

{%- if messages.size > 0 -%}
<h2 id="messages" data-pagefind-weight="7">Messages</h2>
	{%- for message in messages -%}
	{% include ref_anchor_target.html element=message %}
	<div data-pagefind-weight="8">
		<h4 id="{% include ref_anchorlink.html element=message %}">{{ message.name }}<a href="#{% include ref_anchorlink.html element=message %}" class="anchor-link"></a></h4>
		<p>{{ message.description }}</p>

		{%- if message.parameters.size > 0 -%}
		{% include api_lua_v2_parameters.html parameters=message.parameters %}
		{%- endif -%}

		{%- if message.examples.size > 0 -%}
		<p><b>EXAMPLES</b></p>
		{{ message.examples }}
		{%- endif -%}
	</div>
	<hr/>
	{%- endfor -%}
{%- endif -%}

{%- if properties.size > 0 -%}
<h2 id="properties" data-pagefind-weight="7">Properties</h2>
	{%- for property in properties -%}
	{% include ref_anchor_target.html element=property %}
	<div data-pagefind-weight="8">
		<h4 id="{% include ref_anchorlink.html element=property %}">{{ property.name }}<a href="#{% include ref_anchorlink.html element=property %}" class="anchor-link"></a></h4>
		<p>{{ property.description }}</p>
		{%- if property.examples.size > 0 -%}
		<p><b>EXAMPLES</b></p>
		{{ property.examples }}
		{%- endif -%}
	</div>

	<hr/>
	{%- endfor -%}
{%- endif -%}

{%- if macros.size > 0 -%}
<h2 id="macros" data-pagefind-weight="7">Macros</h2>
	{%- for macro in macros -%}
	{% include ref_anchor_target.html element=macro %}
	<div data-pagefind-weight="8">
		<h4 id="{% include ref_anchorlink.html element=macro %}">{{ macro.name }}<a href="#{% include ref_anchorlink.html element=macro %}" class="anchor-link"></a></h4>
		<p>{{ macro.description }}</p>
		{%- if macro.examples.size > 0 -%}
		<p><b>EXAMPLES</b></p>
		{{ macro.examples }}
		{%- endif -%}
	</div>

	<hr/>
	{%- endfor -%}
{%- endif -%}
