{%- assign assetids = include.assetids -%}

<div class="row">
	<h4>{{ include.title }}</h4>

	<input id="search" class="assetsearch" type="text" placeholder="Type to filter..."/>
	<script type="text/javascript">
		const search = document.getElementById('search');
		const inputHandler = function(e) {
			const assets = document.getElementsByClassName("asset");
			const searchFor = e.target.value.toLowerCase();
			for (var i = 0; i < assets.length; i++) {
				const asset = assets[i];
				const name = asset.dataset.name.toString().toLowerCase();
				const description = asset.dataset.description.toString().toLowerCase();
				const visible = (searchFor == "" || name.indexOf(searchFor) != -1 || description.indexOf(searchFor) != -1);
				asset.style.display = visible ? "block" : "none";
			};
		}
		search.addEventListener('input', inputHandler);
		search.addEventListener('propertychange', inputHandler); // for IE8
	</script>

	<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 2rem; padding: 0px;">
		{%- for id in assetids -%}
			{% include asset.html id=id %}
		{%- endfor -%}
	</div>
</div>
