{%- assign asset = site.data.assets[include.id] -%}
{%- if asset.images.thumb contains "https" or asset.images.thumb contains "http" -%}
	{%- assign thumb_base = "" -%}
	{%- assign thumb = asset.images.thumb -%}
{%- elsif asset.images.thumb.size > 0 -%}
	{%- assign thumb_base = "/images/assets/" -%}
	{%- assign thumb = asset.images.thumb -%}
{%- else -%}
	{%- assign thumb_base = "" -%}
	{%- assign thumb = "/images/asset-nothumb.jpg" -%}
{%- endif -%}
<div class='asset clickable left light-text compact {{ asset.tags | join: "%%" | replace: " ", "" | split: "%%" | join: " " | downcase }}' data-name="{{ asset.name }}" data-description="{{ asset.description }}">
	<a href="/assets/{{ include.id }}">
		<div id="image" style="background: url('{{thumb_base}}{{ thumb }}') center/cover; padding: 0; margin: 0; height: 190px">
		</div>
		<div style="display: grid; grid-template-columns: 70% auto; grid-gap: 0;">
			<div style="padding: 0px">
				<b>{{ asset.name }}</b>
				<p style="font-size: smaller; margin-bottom: 0px">{{ asset.tags | join: ", " | truncate: 30 }}</p>
			</div>
			<div style="padding: 0px">
				{%- if asset.stars.size > 0 -%}
				<p class="right">{% include octicon.html icon="octicons/star.svg" color="#79838e" zoom="1" %} {{ asset.stars }}</p>
				{%- endif -%}
			</div>
		</div>
		<div>
			<p style="font-size: smaller">{{ asset.description }}</p>
		</div>
	</a>
</div>
