<div class="card center" {% if include.height %}style="height: {{ include.height }};"{% endif %} onclick="window.open('{{ include.link }}', '_blank');">
	{% if include.svg %}
	<div style="display: grid; grid-template-columns: 30% 70%; grid-gap: 0px; padding-left: 0px;">
		<div style="padding: 0px">
		{{ include.svg }}
		</div>
		<div style="padding: 0px"><h4 class="left">{{ include.title }}</h4></div>
		<div style="padding: 0px"></div>
		<div style="padding: 0px"><p class="left">{{ include.body }}</p></div>
	</div>
	{% else %}
	<div>
		<h4 class="left">{{ include.title }}</h4>
		<p class="left">{{ include.body }}</p>
	</div>
	{% endif %}
</div>
