{%- if include.link.size > 0 -%}
{%- assign clickable="clickable" -%}
{%- endif -%}
{%- if include.class -%}
{%- assign class=include.class -%}
{%- else -%}
{%- assign class="light" -%}
{%- endif -%}
<div class="card center {{ class }} {{ clickable }}"
	style="
	{%- if include.height -%}height: {{ include.height }};{%- endif -%}
	{%- if include.min-height -%}min-height: {{ include.min-height }};{%- endif -%}
	">
	{%- if include.link.size > 0 -%}<a href="{{ include.link }}" target="{% if include.target %}{{ include.target }}{% else %}_self{% endif %}">{%- endif -%}
		{%- if include.banner.size > 0 -%}
		<p class="ribbon">{{ include.banner }}</p>
		{%- endif -%}
		<div class="row">
		{%- if include.icon -%}
			<div class="columns two">
				<span class="icon" style="zoom: {{ include.zoom }};"><img src="{{ include.icon }}" alt="{{ include.icon_alt }}"/></span>
			</div>
			<div class="columns ten">
				<h5 class="left">{{ include.title }}</h5>
				<p class="left">{{ include.body }}</p>
			</div>
		{%- else -%}
			<div class="column full">
				{%- if include.topicon -%}
				<span style="zoom: {{ include.zoom }};"><img src="{{ include.topicon }}" width="20%" alt="{{ include.topicon_alt }}"/></span>
				{%- endif -%}
				<h5 class="left">{{ include.title }}</h5>
				<p class="left">{{ include.body }}</p>
			</div>
		{%- endif -%}
		</div>
	{%- if include.link.size > 0 -%}</a>{%- endif -%}
</div>
