<div class="{% if include.link.size > 0 %}clickable{% endif %} card center light"
	style="{%- if include.height -%}height: {{ include.height }};{%- endif -%}
	{%- if include.min-height -%}min-height: {{ include.min-height }};{%- endif -%}">
	{% if include.link.size > 0 %}
	<a href="{{ include.link }}" target="{% if include.target %}{{ include.target }}{% else %}_self{% endif %}">
	{% endif %}
		{%- if include.icon -%}
		<div style="display: grid; grid-template-columns: 10% auto; grid-gap: 2rem;">
			<div style="padding: 0px"><span class="icon" style="zoom: {{ include.zoom }};"><img src="{{ include.icon }}" width="100%"/></span></div>
			<div style="padding: 0px">
				<h5 class="left">{{ include.title }}</h5>
				<p class="left">{{ include.body }}</p>
			</div>
		</div>
		{%- else -%}
		<div>
			{%- if include.topicon -%}
			<span style="zoom: {{ include.zoom }};"><img src="{{ include.topicon }}" width="20%"/></span>
			{%- endif -%}
			<h5 class="left">{{ include.title }}</h5>
			<p class="left">{{ include.body }}</p>
		</div>
		{%- endif -%}
	{% if include.link.size > 0 %}
	</a>
	{% endif %}
</div>
