<script src="/js/clipboard.js" defer></script>
<script defer>
	(function() {
		function ready(callback) {
			if (document.readyState === 'loading') {
				document.addEventListener('DOMContentLoaded', callback, { once: true });
			} else {
				callback();
			}
		}
		ready(function() {
			var elementsWithCode = document.querySelectorAll([
				'pre.highlight',
				'div.codehilite pre',
				'figure.highlight > pre'
			].join(','));
			for (var el of elementsWithCode) {
				var container = createCopyToClipboardButtonFor(el);
				el.parentNode.style.position = 'relative';
				el.parentNode.appendChild(container);
			}
		});
	})();
</script>
