{%- assign platinum=site.data.partners.platinum -%}
{%- assign gold=site.data.partners.gold -%}
{%- assign silver=site.data.partners.silver -%}
{%- assign bronze=site.data.partners.bronze -%}
{%- assign special=site.data.partners.special -%}
{%- assign friends=site.data.partners.friends -%}

<div class="section darkest">
	{%- if platinum.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Corporate Platinum Partners</h5>
				<div class="grid-150">
					{%- for partner in platinum -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" style="max-height: 55px" alt="{{ partner.name }} logo"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	{%- endif -%}

	{%- if gold.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Corporate Gold Partners</h5>
				<div class="grid-100">
					{%- for partner in gold -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" style="max-height: 44px" alt="{{ partner.name }} logo"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	{%- endif -%}

	{%- if silver.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Corporate Silver Partners</h5>
				<div class="grid-100">
					{%- for partner in silver -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" style="max-height: 44px" alt="{{ partner.name }} logo"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	{%- endif -%}

	{%- if bronze.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Corporate Bronze Partners</h5>
				<div class="grid-100">
					{%- for partner in bronze -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" style="max-height: 33px" alt="{{ partner.name }} logo"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	{%- endif -%}

	{%- if special.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Special Partners</h5>
				<div class="grid-100">
					{%- for partner in special -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" style="max-height: 44px" alt="{{ partner.name }} logo"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	{%- endif -%}

	{%- if friends.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Friends of Defold</h5>
				<div class="grid-100">
					{%- for partner in friends -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" style="max-height: 33px" alt="{{ partner.name }} logo"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	{%- endif -%}
</div>
