{%- assign platinum=site.data.partners.platinum -%}
{%- assign gold=site.data.partners.gold -%}
{%- assign silver=site.data.partners.silver -%}
{%- assign bronze=site.data.partners.bronze -%}
{%- assign special=site.data.partners.special -%}

{%- assign logodonors=site.data.donors.logo -%}
{%- assign linkdonors=site.data.donors.link -%}
{%- assign namedonors=site.data.donors.name -%}

<div class="section darkest">
<!-- <div class="section hero blue" style='background-image: url("/images/hero/defold-king-internal-top-bg-transparent.png");'> -->
	{%- if platinum.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Corporate Platinum Partners</h5>
				<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); grid-gap: 2rem; padding: 0px;">
					{%- for partner in platinum -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" width="128px"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	<!-- <div class="container"><hr/></div> -->
	{%- endif -%}

	{%- if gold.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Corporate Gold Partners</h5>
				<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(110px, 1fr)); grid-gap: 1.5rem; padding: 0px;">
					{%- for partner in gold -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" width="128px"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	<!-- <div class="container"><hr/></div> -->
	{%- endif -%}

	{%- if silver.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Corporate Silver Partners</h5>
				<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); grid-gap: 1rem; padding: 0px;">
					{%- for partner in silver -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" width="128px"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	<!-- <div class="container"><hr/></div> -->
	{%- endif -%}

	{%- if bronze.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Corporate Bronze Partners</h5>
				<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); grid-gap: 0.5rem; padding: 0px;">
					{%- for partner in bronze -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" width="128px"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	<!-- <div class="container"><hr/></div> -->
	{%- endif -%}

	{%- if special.size > 0 or include.empty -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Special Partners</h5>
				<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); grid-gap: 0.5rem; padding: 0px;">
					{%- for partner in special -%}
						<a href="{{ partner.link }}" target="_blank"><img src="{{ partner.logo }}" width="128px"></a>
					{%- endfor -%}
				</div>
				{%- if include.button -%}{% include secondary_button.html link="/donate" text="Become a partner" %}{%- endif -%}
			</div>
		</div>
	</div>
	<!-- <div class="container"><hr/></div> -->
	{%- endif -%}

	{%- if logodonors.size > 0 or linkdonors.size > 0 or namedonors.size > 0 -%}
	<div class="container">
		<div class="row">
			<div class="columns twelve center">
				<h5 style="margin-bottom: 1rem; margin-top: 2rem;">Top Community Donors</h5>
				<div class="lightest-text" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); grid-gap: 2rem; padding: 0px;">
					{%- for donor in logodonors -%}
						{%- include donor.html donor=donor -%}
					{%- endfor -%}
					{%- for donor in linkdonors -%}
						{%- include donor.html donor=donor -%}
					{%- endfor -%}
					{%- for donor in namedonors -%}
						{%- include donor.html donor=donor -%}
					{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
	{%- endif -%}
</div>
