	<table>
		<tr>
			<th>PLATFORM</th>
			<th>DEFOLD 1.9.3</th>
			<th>UNITY 6 (6000.0.23f1)</th>
			<th>GODOT 4.3</th>
		</tr>
		<tr>
			<td>Android (arm64-v8a)</td>
			<td> 1.83MB</td>
			<td>24.33MB</td>
			<td>24.29MB</td>
		</tr>
		<tr>
			<td>iOS (arm64)</td>
			<td> 1.41MB</td>
			<td>18.03MB</td>
			<td>19.59MB</td>
		</tr>
		<tr>
			<td>HTML5 (wasm, gzip)</td>
			<td>1.4MB</td>
			<td>8.1MB</td>
			<td>9.0MB</td>
		</tr>
		<tr>
			<td>Windows</td>
			<td> 8.1MB</td>
			<td>91.1MB</td>
			<td>84.1MB</td>
		</tr>
	</table>
	<p>Test made using an empty project. Exported to target platform using default settings. Release builds.</p>
