	<table>
		<tr>
			<th>PLATFORM</th>
			<th>DEFOLD 1.4.7</th>
			<th>UNITY 2022.3.3f1</th>
			<th>GODOT 4.0.3</th>
		</tr>
		<tr>
			<td>Android (32+64 bit)</td>
			<td>3.4MB</td>
			<td>18.9MB</td>
			<td>39.6MB</td>
		</tr>
		<tr>
			<td>iOS (64 bit)</td>
			<td>1.3MB</td>
			<td>7.3MB</td>
			<td>?</td>
		</tr>
		<tr>
			<td>HTML5 (wasm, gzip)</td>
			<td>956KB</td>
			<td>2.7MB</td>
			<td>9.8MB</td>
		</tr>
	</table>
	<p>Test made using an empty project. Exported to target platform using default settings. Release builds.</p>
