
	<div id="app-container" class="canvas-app-container">
		<div id="canvas-container" class="canvas-app-canvas-container">
			<canvas id="canvas" class="canvas-app-canvas" tabindex="1" width="680" height="680" style="max-width:100%"></canvas>
		</div>
		<div class="buttons-background">
		</div>
	</div>
	<!-- -->
	<script id='engine-loader' type='text/javascript' src="/examples/dmloader.js"></script>
	<!-- -->
	<script id='engine-setup' type='text/javascript'>
	var extra_params = {
		archive_location_filter: function( path ) {
			return ("/examples/archive" + path + "");
		},
		engine_arguments: [ '--config=examples.start={{ page.collection }}'],
		custom_heap_size: 268435456,
		full_screen_container: "#canvas-container",
		disable_context_menu: true
	}

	Module['INITIAL_MEMORY'] = extra_params.custom_heap_size;

	Module['onRuntimeInitialized'] = function() {
		Module.runApp("canvas", extra_params);
	};

	Module["locateFile"] = function(path, scriptDirectory)
	{
		// dmengine*.wasm is hardcoded in the built JS loader for WASM,
		// we need to replace it here with the correct project name.
		if (path == "dmengine.wasm" || path == "dmengine_release.wasm" || path == "dmengine_headless.wasm") {
			path = "Defoldexamples.wasm";
		}
		return scriptDirectory + path;
	};

	var is_iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
	var buttonHeight = 0;
	var prevInnerWidth = -1;
	var prevInnerHeight = -1;
	function resize_game_canvas() {
		// Hack for iOS when exit from Fullscreen mode
		if (is_iOS) {
			window.scrollTo(0, 0);
		}

		var app_container = document.getElementById('app-container');
		var game_canvas = document.getElementById('canvas');
		var innerWidth = window.innerWidth;
		var innerHeight = window.innerHeight - buttonHeight;
		if (prevInnerWidth == innerWidth && prevInnerHeight == innerHeight)
		{
			return;
		}
		prevInnerWidth = innerWidth;
		prevInnerHeight = innerHeight;
		var width = 720;
		var height = 720;
		var targetRatio = width / height;
		var actualRatio = innerWidth / innerHeight;
	
	
	
	
		//No scale
		var margin_left = ((innerWidth - width) / 2);
		margin_left = margin_left > 0 ? margin_left : 0;
		var margin_top = ((innerHeight - height) / 2);
		margin_top = margin_top > 0 ? margin_top : 0;
		app_container.style.marginLeft = margin_left + "px";
		app_container.style.marginTop = margin_top + "px";
	
		app_container.style.width = width + "px";
		app_container.style.height = height + buttonHeight + "px";
		game_canvas.width = width;
		game_canvas.height = height;
	}
	
	
	
	
	</script>

	<script id='engine-start' type='text/javascript'>
		EngineLoader.load("canvas", "/examples/Defoldexamples");
	</script>
