
	<div id="app-container" class="canvas-app-container">
		<canvas id="canvas" class="canvas-app-canvas" tabindex="1" width="680" height="680"></canvas>
		<div class="buttons-background">
		</div>
	</div>
	<!-- -->
	<script id='engine-loader' type='text/javascript' src="dmloader.js"></script>
	<!-- -->
	<script id='engine-setup' type='text/javascript'>
	var extra_params = {
		archive_location_filter: function( path ) {
			return ("archive" + path + "");
		},
		engine_arguments: [ '--config=examples.start={{ page.collection }}'],
		custom_heap_size: 268435456,
		disable_context_menu: true
	}

	Module['onRuntimeInitialized'] = function() {
		Module.runApp("canvas", extra_params);
	};

	Module["locateFile"] = function(path, scriptDirectory)
	{
		// dmengine*.wasm is hardcoded in the built JS loader for WASM,
		// we need to replace it here with the correct project name.
		if (path == "dmengine.wasm" || path == "dmengine_release.wasm" || path == "dmengine_headless.wasm") {
			path = "Defoldexamples.wasm";
		}
		return scriptDirectory + path;
	};

	var is_iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
	var buttonHeight = 0;
	// Resize on init, screen resize and orientation change
	function resize_game_canvas() {
		// Hack for iOS when exit from Fullscreen mode
		if (is_iOS) {
			window.scrollTo(0, 0);
		}

		var app_container = document.getElementById('app-container');
		var game_canvas = document.getElementById('canvas');
		var innerWidth = window.innerWidth;
		var innerHeight = window.innerHeight - buttonHeight;
		var width = 720;
		var height = 720;
		var targetRatio = width / height;
		var actualRatio = innerWidth / innerHeight;

		//Downscale fit
		if (innerWidth < width || innerHeight < height) {
			if (actualRatio > targetRatio) {
				width = innerHeight * targetRatio;
				height = innerHeight;
				app_container.style.marginLeft = ((innerWidth - width) / 2) + "px";
				app_container.style.marginTop = "0px";
			}
			else {
				width = innerWidth;
				height = innerWidth / targetRatio;
				app_container.style.marginLeft = "0px";
				app_container.style.marginTop = ((innerHeight - height) / 2) + "px";
			}
		}
		else {
			app_container.style.marginLeft = ((innerWidth - width) / 2) + "px";
			app_container.style.marginTop = ((innerHeight - height) / 2) + "px";
		}




		app_container.style.width = width + "px";
		app_container.style.height = height + buttonHeight + "px";
		game_canvas.width = width;
		game_canvas.height = height;
	}




	function load_engine() {
		var engineJS = document.createElement('script');
		engineJS.type = 'text/javascript';
		if (Module['isWASMSupported']) {
			engineJS.src = 'Defoldexamples_wasm.js';
		} else {
			engineJS.src = 'Defoldexamples_asmjs.js';
		}
		document.head.appendChild(engineJS);
	}
	</script>
	<script id='engine-start' type='text/javascript'>
		load_engine();
	</script>
