

	<div id="app-container" class="canvas-app-container">
		<div id="running-from-file-warning" style="display: none; margin: 3em;">
			<h1>Running from local file ⚠️</h1>
			<p>It seems like you have opened this file by double-clicking on it. In order to test your build in a browser <b>you need to load this file from a web server</b>. You can either upload this file and the rest of the files from a Defold HTML5 bundle to a web hosting service OR host them using a local web server on your home network.</p>
			<p><a href="https://defold.com/manuals/html5/#testing-html5-build" target="_blank">Learn more about running a local web server in the Defold HTML5 manual</a>.</p>
		</div>
		<div id="webgl-not-supported" style="display: none; margin: 3em;">
			<h1>WebGL not supported ⚠️</h1>
			<p>WebGL is not supported by your browser - visit <a href="https://get.webgl.org/">https://get.webgl.org/</a> to learn more.</p>
		</div>
		<div id="canvas-container" class="canvas-app-canvas-container">
			<canvas id="canvas" class="canvas-app-canvas" tabindex="1" width="680" height="680" style="max-width:100%"></canvas>
		</div>
		<div class="buttons-background">
		</div>
	</div>
	<!-- -->
	<script id='engine-loader' type='text/javascript' src="/examples/dmloader.js"></script>

	<script id='engine-start' type='text/javascript'>
		var runningFromFileWarning = document.getElementById("running-from-file-warning");
		if (window.location.href.startsWith("file://")) {
			runningFromFileWarning.style.display = "block";
		}
		else {
			
        CUSTOM_PARAMETERS.archive_location_filter = function(path) { return ("/examples/archive" + path); };
        CUSTOM_PARAMETERS.engine_arguments = [ '--config=examples.start={{ page.collection }}', '--verify-graphics-calls=false' ];
        CUSTOM_PARAMETERS.resize_window_callback = function() {};
        EngineLoader.load("canvas", "/examples/Defoldexamples");

			runningFromFileWarning.parentNode.removeChild(runningFromFileWarning);
		}
	</script>
