<div class="section dark">
	<div class="container">
		<div class="row">
			<div class="column one-half">
				<h4>No setup</h4>
				<p>Defold comes fully featured out of the box. There's nothing to set up or configure, not even when bundling. Simply download the editor and get creative!</p>
				<div class="twocolumnlist">
					<ul class="checkmark">
						<li>Visual Editor</li>
						<li>Code Editor</li>
						<li>Lua Scripting</li>
						<li>Lua Debugger</li>
						<li>Scene Editor</li>
						<li>Particle Editor</li>
						<li>Tilemap Editor</li>
					</ul>
				</div>
			</div>
			<div class="column one-half">
				<img src="/images/editor/nosetup-editor.png" style="display:block; margin: auto;" alt="Bring me Cakes by PotatoJam" class="slideinright" loading="lazy"/>
			</div>
		</div>
		<div class="row">
			<div class="columns six">
				<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); grid-gap: 2rem; padding: 0px;">
					<img src="/images/logo/platform/100px-ps4-white.png"		width="60%" style="display:block; margin: auto;" class="fadein" alt="PlayStation®4 logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-switch-red.png"		width="60%" style="display:block; margin: auto;" class="fadein" alt="Nintendo Switch logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-android.png"		width="60%" style="display:block; margin: auto;" class="fadein" alt="Android logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-ios-white.png"			width="60%" style="display:block; margin: auto;" class="fadein" alt="Apple logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-macos-white.png"		width="60%" style="display:block; margin: auto;" class="fadein" alt="macOS logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-linux.png"		width="60%" style="display:block; margin: auto;" class="fadein" alt="Linux logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-windows.png"		width="60%" style="display:block; margin: auto;" class="fadein" alt="Windows logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-steam.png"		width="60%" style="display:block; margin: auto;" class="fadein" alt="Steam logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-html5.png"		width="60%" style="display:block; margin: auto;" class="fadein" alt="HTML5 logo" loading="lazy"/>
					<img src="/images/logo/platform/100px-facebook.png"	width="60%" style="display:block; margin: auto;" class="fadein" alt="Facebook logo" loading="lazy"/>
				</div>
			</div>
			<div class="columns six">
				<h4>Truly cross-platform</h4>
				<p>Using just one code base, and without the need for external tools, Defold lets you publish your game to a multitude of platforms:</p>
				<div class="twocolumnlist">
					<ul class="checkmark">
						<li>PlayStation®4</li>
						<li>Nintendo Switch</li>
						<li>Android</li>
						<li>iOS</li>
						<li>macOS</li>
						<li>Linux</li>
						<li>Windows</li>
						<li>Steam</li>
						<li>HTML5</li>
						<li>Facebook</li>
						<li>Q3 2023 PlayStation®5</li>
						<li>Q1 2024 XBox</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row"><br/><br/><br/></div>
		<div class="row">
			<div class="column one-half">
				<h4>Turn-key solution</h4>
				<ul class="checkmark">
					<li>Use basic building blocks to create complex behaviour.</li>
					<li>Everything you need to make a game in one tool</li>
					<li>Write game logic using Lua.</li>
					<li>Zero-config cloud build</li>
				</ul>
			</div>
			<div class="column one-half">
				<img src="/images/editor/editor-screenshot-hero-right-dragosha.png" style="display:block; margin: auto; width: 80%" alt="Isometric turn-based roguelike by Dragosha" class="slideinright" loading="lazy"/>
			</div>
		</div>
		<div class="row">
			<div class="column one-half">
				<img src="/images/editor/editor-screenshot-hero-left-starjammer.png" style="display:block; margin: auto; width: 80%" alt="Star Jammer by Ben James" class="slideinleft" loading="lazy"/>
			</div>
			<div class="column one-half">
				<h4>Custom configuration</h4>
				<ul class="checkmark">
					<li>Add new functionality from the Asset Portal.</li>
					<li>Setup your own local build environment.</li>
					<li>Write your own native code to extend the engine.</li>
					<li>Integrated with tools such as Atom, VS Code, Spine and Tiled.</li>
				</ul>
			</div>
		</div>
		<div class="row"><br/><br/></div>
		<div class="row center">
			<div class="columns twelve">
				{% include primary_button.html link="/product" text="PRODUCT FEATURES" %}
			</div>
		</div>
	</div>
</div>
