<div class="section dark">
	<div class="container">
		<div class="row">
			<div class="column one-half">
				<h4 id="no-setup">No setup</h4>
				<p>Defold comes fully featured out of the box. There's nothing to set up or configure, not even when building. Simply download the editor and get creative!</p>
				<div class="twocolumnlist">
					<ul class="checkmark">
						<li>Visual Editor</li>
						<li>Code Editor</li>
						<li>Lua Scripting</li>
						<li>Lua Debugger</li>
						<li>Scene Editor</li>
						<li>Particle Editor</li>
						<li>Tilemap Editor</li>
						<li>2D &amp; 3D</li>
					</ul>
				</div>
			</div>
			<div class="column one-half">
				<img src="/images/editor/nosetup-editor.png" style="display:block; margin: auto;" alt="Bring me Cakes by PotatoJam" class="slideinright" loading="lazy"/>
			</div>
		</div>
		<div class="row">
			<div class="columns six">
				{%- include platforms.html minmax=100 transition="fadein" -%}
			</div>
			<div class="columns six">
				<h4 id="cross-platform">Truly cross-platform</h4>
				<p>Using just one code base, and without the need for external tools, Defold lets you publish your game to all of the major platforms:</p>
				<div class="twocolumnlist">
					<ul class="checkmark">
						<li>PlayStation®5</li>
						<li>PlayStation®4</li>
						<li>Nintendo Switch</li>
						<li>Android</li>
						<li>iOS</li>
						<li>macOS</li>
						<li>Linux</li>
						<li>Windows</li>
						<li>Steam</li>
						<li>HTML5</li>
						<li>Facebook</li>
						<li>Q3 2024 XBox</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row"><br/><br/><br/></div>
		<div class="row">
			<div class="column one-half">
				<h4 id="turn-key-solution">Turn-key solution</h4>
				<ul class="checkmark">
					<li>Use basic building blocks to create complex behaviour.</li>
					<li>Everything you need to make a game in one tool</li>
					<li>Write game logic using Lua.</li>
					<li>Zero-config cloud build for native code</li>
				</ul>
			</div>
			<div class="column one-half">
				<img src="/images/editor/editor-screenshot-hero-right-dragosha.png" style="display:block; margin: auto; width: 80%" alt="Isometric turn-based roguelike by Dragosha" class="slideinright" loading="lazy"/>
			</div>
		</div>
		<div class="row">
			<div class="column one-half">
				<img src="/images/editor/editor-screenshot-hero-left-dragosha-3d.png" style="display:block; margin: auto; width: 80%" alt="Star Jammer by Ben James" class="slideinleft" loading="lazy"/>
			</div>
			<div class="column one-half">
				<h4 id="custom-configuration">Custom configuration</h4>
				<ul class="checkmark">
					<li>Add new functionality from the <a href="/assets">Asset Portal</a>.</li>
					<li>Setup your own local build environment.</li>
					<li>Write your own native code to extend the engine.</li>
					<li>Integrated with tools such as Atom, VS Code, Spine and Tiled.</li>
				</ul>
			</div>
		</div>
		<div class="row"><br/><br/><br/></div>
		<div class="row">
			<div class="column one-half">
				<h4 id="free-forever">Free. Forever.</h4>
				<ul class="checkmark">
					<li>No up-front cost.</li>
					<li>No licensing cost.</li>
					<li>No royalties.</li>
					<li>No runtime fee.</li>
					<li>Free forever. Thanks to <a href="/foundation">the objectives of the Defold Foundation</a>.</li>
				</ul>
			</div>
			<div class="column one-half">
				<img src="/images/editor/editor-screenshot-hero-right.png" style="display:block; margin: auto; width: 80%" alt="Particle effects editor with live preview" class="slideinright" loading="lazy"/>
			</div>
		</div>
		<div class="row">
			<div class="column one-half">
				<img src="/images/editor/editor-screenshot-duovikings.png" style="display:block; margin: auto; width: 80%" alt="Duo Vikings by Flazm" class="slideinleft" loading="lazy"/>
			</div>
			<div class="column one-half">
				<h4 id="production-ready">Production ready</h4>
				<ul class="checkmark">
					<li>Proven track record of <a href="/showcase">game releases</a> on mobile, web, desktop and consoles.</li>
					<li>Integrations with analytics, app economy and game services available out of the box.</li>
					<li>Actively developed, with a new release every month.</li>
					<li>Technical <a href="/support">support contracts available</a> if needed.</li>
				</ul>
			</div>
		</div>
		<div class="row"><br/><br/></div>
		<div class="row center">
			<div class="columns twelve">
				{% include primary_button.html link="/product" text="PRODUCT FEATURES" %}
			</div>
		</div>
	</div>
</div>
