<footer class="darkest">
	<div class="container">
		<div class="row">
			<div class="two columns">
				<p><b>DEFOLD</b></p>
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/foundation">Foundation</a></li>
					<li><a href="/faq/faq">FAQ</a></li>
				</ul>
			</div>
			<div class="two columns">
				<p><b>NEWS</b></p>
				<ul>
					<li><a href="/press">Press</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/newsletter">Newsletter</a></li>
					<li><a href="https://forum.defold.com/c/releasenotes">Release anouncements</a></li>
				</ul>
			</div>
			<div class="two columns">
				<p><b>GET INVOLVED</b></p>
				<ul>
					<li><a href="/open">Open&nbsp;Source</a></li>
					<li><a href="/donate">Donate</a></li>
					<li><a href="/contribute">Contribute</a></li>
				</ul>
			</div>
			<div class="two columns">
				<p><b>LEARN</b></p>
				<ul>
					<li><a href="/ref/go">API</a></li>
					<li><a href="/examples">Examples</a></li>
					<li><a href="/manuals/introduction">Manuals</a></li>
					<li><a href="/tutorials">Tutorials</a></li>
				</ul>
			</div>
			<div class="two columns">
				<p><b>COMMUNITY</b></p>
				<ul>
					<li><a href="https://forum.defold.com" target="_blank">Forum</a></li>
					<li><a href="/slack">Slack</a></li>
					<li><a href="https://www.facebook.com/Defold" target="_blank">Facebook</a></li>
					<li><a href="https://twitter.com/defold" target="_blank">Twitter</a></li>
				</ul>
			</div>
			<div class="two columns">
				<p><b>LEGAL</b></p>
				<ul>
					<li><a href="/license">License</a></li>
					<li><a href="/logo-and-trademark">Logo &amp; Trademark</a></li>
					<li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
					<li><a href="/privacy-policy">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<p>Copyright © {{ "now" | date: "%Y" }} Defold</p>
		</div>
	</div>
</footer>
