<footer class="darker">
	<div class="container">
		<div class="row">
			<div class="one-third column">
				<p><b>ABOUT</b></p>
				<ul>
					<li><a href="/history">Our history</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<div class="one-third column">
				<p><b>LEGAL</b></p>
				<ul>
					<li><a href="/terms-and-conditions">Terms & Conditions</a></li>
					<li><a href="/privacy-policy">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="one-third column">
				<p><b>COMMUNITY</b></p>
				<ul>
					<li><a href="https://forum.defold.com" target="_blank">Forum</a></li>
					<li><a href="https://twitter.com/defold" target="_blank">Twitter</a></li>
					<li><a href="https://www.facebook.com/Defold" target="_blank">Facebook</a></li>
					<li><a href="/slack">Slack</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<p>Copyright © 2019 Defold</p>
		</div>
	</div>
</footer>
