<footer class="dark">
	<div class="container">
		<div class="row">
			<div class="one-third column">
				<p>ABOUT</p>
				<ul>
					<li><a href=" target="_blank">Our history</a></li>
					<li><a href="" target="_blank">Contact</a></li>
					<li><a href="" target="_blank">Press</a></li>
				</ul>
			</div>
			<div class="one-third column">
				<p>LEGAL</p>
				<ul>
					<li><a href="" target="_blank">Terms & Conditions</a></li>
					<li><a href="" target="_blank">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="one-third column">
				<p>COMMUNITY</p>
				<ul>
					<li><a href="https://forum.defold.com" target="_blank">Forum</a></li>
					<li><a href="https://twitter.com/defold" target="_blank">Twitter</a></li>
					<li><a href="https://www.facebook.com/Defold" target="_blank">Facebook</a></li>
					<li><a href="https://www.defold.com/slack/" target="_blank">Slack</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<p>Copyright © 2019 Defold</p>
		</div>
	</div>
</footer>
