<div class="section hero center dark-text hoverflash game">
	<a href="/showcase" class="game-banner-link" data-game-id="#GAME_ID#">
		<img src="/images/games/#GAME_IMAGE#" class="hoverflash" width="100%" loading="lazy" alt="#GAME_NAME#"/>
	</a>
</div>

<div class="section dark left" style="padding-top: 3rem; padding-bottom: 0;">
	<div class="container">
		<div class="row">
			<div class="columns eight compact">
				<h5>#GAME_NAME#</h5>
				<p>#GAME_DESCRIPTION#</p>
			</div>
			<div class="columns four">
				<table>
					<tr>
						<td>Developer</td>
						<td class="lightest-text">#GAME_DEVELOPER#</td>
					</tr>
					<tr class="publisher-row" style="display: none;">
						<td>Publisher</td>
						<td class="lightest-text">#GAME_PUBLISHER#</td>
					</tr>
					<tr class="releasedate-row" style="display: none;">
						<td>Release date</td>
						<td class="lightest-text">#GAME_RELEASEDATE#</td>
					</tr>
					<tr>
						<td>Platforms</td>
						<td class="lightest-text">#GAME_PLATFORMS#</td>
					</tr>
					<tr class="downloads-row" style="display: none;">
						<td>Downloads</td>
						<td class="lightest-text">#GAME_DOWNLOADS#</td>
					</tr>
					<tr class="extrainfo-row" style="display: none;">
						<td colspan="2">#GAME_EXTRAINFO#</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>