{%- assign game=include.game -%}
{%- assign url=include.url -%}{%- unless url -%}{%- assign url = game.url -%}{%- endunless -%}

<div class="section hero center dark-text hoverflash game">
	<a href="{{ url }}" target="_blank">
		<img src="/images/games/{{ game.images.full }}" class="hoverflash" width="100%" loading="lazy"/>
	</a>
</div>

<div class="section dark left" style="padding-top: 3rem; padding-bottom: 0;">
	<div class="container">
		<div class="row">
			<div class="columns eight compact">
				<h5>{{ game.name }}</h5>
				<p>{{ game.description }}</p>
			</div>
			<div class="columns four">
				<table>
					<tr>
						<td>Developer</td>
						<td class="lightest-text">{{ game.developer }}</td>
					</tr>
					{%- if game.publisher and game.publisher != "" -%}
					<tr>
						<td>Publisher</td>
						<td class="lightest-text">{{ game.publisher }}</td>
					</tr>
					{%- endif -%}
					{%- if game.releasedate and game.releasedate != "" -%}
					<tr>
						<td>Release date</td>
						<td class="lightest-text">{{ game.releasedate }}</td>
					</tr>
					{%- endif -%}
					<tr>
						<td>Platforms</td>
						<td class="lightest-text">{{ game.platforms }}</td>
					</tr>
					{%- if game.downloads and game.downloads != "" -%}
					<tr>
						<td>Downloads</td>
						<td class="lightest-text">{{ game.downloads }}</td>
					</tr>
					{%- endif -%}
					{%- if game.extrainfo and game.extrainfo != "" -%}
					<tr>
						<td colspan="2">{{ game.extrainfo }}</td>
					</tr>
					{%- endif -%}
				</table>
			</div>
		</div>
	</div>
</div>
