{%- assign game=include.game -%}
{%- assign url=include.url -%}{%- unless url -%}{%- assign url = game.url -%}{%- endunless -%}

<div class="section dark-text game">
	<div class="container">
		<div class="row">
			<div class="columns twelve">
				<a href="{{ url }}" target="_blank" class="showcase-full-media hoverflash">
					<img src="/images/games/{{ game.images.full }}" loading="lazy" alt="{{ game.name }}"/>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="section dark left showcase-game-details-section">
	<div class="container">
		<div class="row">
				<div class="columns eight compact showcase-game-copy">
					<h4 class="showcase-game-title">{{ game.name }}</h4>
					<p>{{ game.description }}</p>
				</div>
				<div class="columns four">
					<table class="showcase-game-meta">
					<tr>
						<td>Developer</td>
						<td class="lightest-text">{{ game.developer }}</td>
					</tr>
					{%- if game.publisher and game.publisher != "" -%}
					<tr>
						<td>Publisher</td>
						<td class="lightest-text">{{ game.publisher }}</td>
					</tr>
					{%- endif -%}
						{%- if game.releasedate and game.releasedate != "" -%}
						<tr>
							<td>Release date</td>
							<td class="lightest-text">{{ game.releasedate }}</td>
						</tr>
						{%- endif -%}
						{%- if game.license and game.license != "" -%}
						<tr>
							<td>License</td>
							<td class="lightest-text">{{ game.license }}</td>
						</tr>
						{%- endif -%}
						{%- if game.platforms and game.platforms != "" -%}
						<tr>
							<td>Platforms</td>
							<td class="lightest-text">{{ game.platforms }}</td>
						</tr>
						{%- endif -%}
						{%- if game.downloads and game.downloads != "" -%}
						<tr>
							<td>Downloads</td>
						<td class="lightest-text">{{ game.downloads }}</td>
					</tr>
					{%- endif -%}
					{%- if game.extrainfo and game.extrainfo != "" -%}
					<tr>
						<td colspan="2">{{ game.extrainfo }}</td>
					</tr>
					{%- endif -%}
				</table>
			</div>
		</div>
	</div>
</div>
