{%- assign game=include.game -%}
{%- assign game_image_src = "/images/games/" | append: game.images.third -%}
{%- assign game_image_alt = game.name | append: " screenshot" -%}
<div class="game">
	<a href="{{ game.url }}" target="_blank">
		{%- include webp_picture.html src=game_image_src class="hoverflash" width="100%" loading="lazy" alt=game_image_alt -%}
	</a>
	<div class="compact showcase-game-copy">
		<h4 class="showcase-game-title">{{ game.name }}</h4>
		<p>By {{ game.developer }}</p>
	</div>
</div>
