{%- include googleanalytics.html -%}

{%- assign page_heatmap = page.heatmap | default: false -%}
{%- assign layout_heatmap = layout.heatmap | default: false -%}
{%- assign heatmap = page_heatmap == true and layout_heatmap == true -%}
{%- if page_heatmap == true or layout_heatmap == true -%}
{%- endif -%}
<title>{{ page.title }}</title>

<!-- Google Structured Data (https://developers.google.com/search/docs/guides/intro-structured-data) -->
<script type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "Organization",
		"name": "Defold Foundation",
		"url": "https://www.defold.com",
		"email": "info@defold.com",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "Postbox 6034",
			"addressLocality": "Hägersten",
			"addressRegion": "Stockholm",
			"addressCountry": "Sweden",
			"postalCode": "12906"
		},
		"foundingDate": "2020",
		"sameAs": [
			"https://www.facebook.com/Defold",
			"https://www.twitter.com/defold",
			"https://www.github.com/defold",
			"https://www.youtube.com/channel/UCrEYXG15n3V0Y8eK0RbCaLQ"
		]
	}
</script>

{%- if page.description.size > 0 -%}
{%- assign page_description=page.description -%}
{%- elsif page.excerpt.size > 0 -%}
{%- assign page_description=page.excerpt -%}
{%- elsif page.brief.size > 0 -%}
{%- assign page_description=page.brief -%}
{%- else -%}
{%- assign page_description="Defold is a free and open game engine used for development of console, desktop, mobile and web games." -%}
{%- endif -%}

{%- if page.opengraph_image.size > 0 -%}
{%- assign page_opengraph_image=page.description -%}
{%- else -%}
{%- assign page_description="Defold is a free and open game engine used for development of console, desktop, mobile and web games." -%}
{%- endif -%}

<!-- META DATA -->
<meta name="description" content="{{ page_description }}">
<meta name="author" content="Defold Foundation"/>
<meta name="keywords" content="defold, gameengine, game-engine, game-development, game-dev, gamedev, open-source, opensource, crossplatform, cross-platform, free, nintendo-switch, console, html5, web, android, ios, desktop" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- RSS FEED -->
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml" />

<!-- OPEN GRAPH -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="Defold game engine">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page_description }}">
<meta property="og:image" content="{{page.opengraph_image}}">
<!-- end OPEN GRAPH -->

<!-- TWITTER -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@defold">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page_description }}">
<meta name="twitter:image" content="{{page.twitter_image}}">
<!-- end TWITTER -->

<!-- web monetization -->
<meta name="monetization" content="$ilp.uphold.com/QkG86UgXzKq8">

<!-- FONTS -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<!-- favicon -->
<link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- end CSS -->

<!-- SendInBlue CSS -->
<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<!-- end SendInBlue CSS -->
