{%- include googleanalytics.html -%}

<title>{{ page.title }}</title>

<!-- SOCIAL META DATA -->
{%- assign meta_description="Defold is a multi-platform game engine that simplifies development of 2D games for all major platforms – HTML5, Android, iOS, Windows, Mac OS X and Linux" -%}
{%- assign meta_title="Free 2D Game Engine for Cross-Platform Publishing" -%}
<meta name="description" content="{{ meta_description }}">

<meta property="og:site_name" content="Defold game engine">
<meta property="og:title" content="{{ meta_title}}">
<meta property="og:description" content="{{ meta_description }}">
<meta property="og:image" content="https://www.defold.com/images/social/facebook-share.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@defold">
<meta name="twitter:title" content="{{ meta_title}}'">
<meta name="twitter:description" content="{{ meta_description }}">
<meta name="twitter:image" content="https://www.defold.com/images/social/twitter-share.jpg">
<!-- end SOCIAL META DATA -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
<link rel="stylesheet" type="text/css" href="/css/defold.css">
<link rel="stylesheet" type="text/css" href="/css/fruity.css">
<link rel="stylesheet" type="text/css" href="/css/fontello.css">
<!-- end CSS -->
