<div class='card left compact clickable'>
<div class="center" style="padding-bottom: 1em;">
<a href="{{ include.link }}">
    {% assign image_extension = include.image | split:'.' | last %}
    {%- if image_extension == "svg" -%}
        <span class="icon">{% include_relative {{include.image}} %}</span>
    {%- else -%}
        <img src="{{ include.image }}" style="max-height:8em;border-radius:4px;"/>
    {%- endif -%}
</a>
</div>
<div>
<a href="{{ include.link }}"><h5>{{ include.title }}</h5></a>
{%- if include.author -%}<p style="font-size: small">{{ include.author }}</p>{%- endif -%}
<a href="{{ include.link }}"><p style="font-size: small">{{ include.description }}</p></a>
</div>
</div>
