<!-- <div class="section hero light-text" style="background-image: url('/images/hero/hero-background.jpg')"> -->
<div class="section hero light" style="background-image: url('/images/BG-stripes-left.svg')">
	<div class="container">
		<div class="row center">
			<h1>Learn Defold</h1>
			<br/>
		</div>
		<div class="row">
			<div class="column one-third">
				{% include card.html title="Tutorials" body="Our tutorials section is the perfect starting point if you are new to Defold game development." link="/tutorials" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-tutorials.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Manuals" body="In-depth manuals provide understanding on how the Defold engine and its API's work." link="/manuals" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-manuals.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="API Reference" body="Reference documentation to all Defold Lua and C++ extension API's." link="/ref" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-apiref.svg" %}
			</div>
		</div>
		<div class="row center">
			<br/>
		</div>
		<div class="row">
			<div class="columns two"><br/></div>
			<div class="column one-third">
				{% include card.html title="Examples" body="A selection of small and discrete code samples, examples and snippets to learn from." link="/examples" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-lego.svg" %}
			</div>
			<div class="column one-third">
				{% include card.html title="Forum" body="Stuck? Not for long! Talk to the Defold team and our fantastic developer community." link="https://forum.defold.com" min-height="250px" icon="/images/icons/icons-learn-export_ic-learn-forum.svg" %}
			</div>
			<div class="columns two"><br/></div>
		</div>
	</div>
</div>
