
<div class="section">
<div class="container">
<div class="row">
	<div class="columns eight">
		<h3>Defold in the News</h3>
		{% assign posts = site.posts | where: "type", "press" %}
		{%- for post in posts limit: 3 -%}
		{%- include post_preview_small.html post=post -%}
		{%- endfor -%}
		<a href="/news">More News ⇢</a>
	</div>
	<div class="columns four center">
		<img src="/images/beans/bean-mail_bean-grey-sign-right-small.png" alt="Cartoon character delivering a letter"/><br/>
		{% include secondary_button.html link="/newsletter" text="Sign up for Defold News!" %}
	</div>
</div>
</div>
</div>
