<div class="section {{ include.class | default: 'dark' }}">
	<div class="container">
		<div class="row">
			<div class="columns eight">
				<p>We are happy to announce that as of May 2020 Defold, the ultimate cross platform game engine, has been transferred to the Defold Foundation and made available as a free and source available project with a developer-friendly license! We belive this move will bring transparency to the development process and we invite our community members to get involved.</p>
				<div class="right"><p><a href="/foundation">The Defold Foundation</a><br/>Stockholm, 19th of May 2020</p></div>
			</div>
			<div class="columns four center">
				<img src="/images/logo/defold/logo/logo-ver-outline-bright-128.png"/>
			</div>
		</div>
	</div>
</div>
