<div class="section {{ include.class | default: 'dark' }}">
	<div class="container">
		<div class="row">
			<div class="columns eight">
				<p>We are happy to announce that as of May 2020 Defold, the ultimate free to use cross platform game engine, is is now sharing all source code with a developer-friendly license! This move will bring transparency to the development process and invite external contributors to make the engine better for everyone.</p>

				<p>As part of this process, King has decided to transfer Defold to a software foundation; the Defold Foundation. This will further strengthen Defold as a source available game engine and establish the future of Defold in the hands of the Defold Foundation together with the community.</p>

				<p><i>“We are immensely proud to be able to make the Defold source code available and thrilled about the journey as a free and developer friendly game engine together with our great community of Defold developers. We would also wish to thank King for believing in our vision and entrusting Defold to the Defold Foundation.”</i> says Björn Ritzl, Product Owner, the Defold Foundation.</p>

				<div class="right"><p><a href="/foundation">The Defold Foundation</a><br/>Stockholm, 19th of May 2020</p></div>
			</div>
			<div class="columns four center">
				<img src="/images/logo/defold-open.png" height="300px"/>
			</div>
		</div>
	</div>
</div>
