<div class="section hero center blackwhite" style='background-image: url("/images/hero/grey-patchwork.svg");'>
	<div class="container">
		<div class="row">
			<div>
				<img src="/images/logo/defold/logo/logo-ver-classic-white-320.png" width="200px"/>
				<br/>
				<br/>
				<h2>Free to use and developer friendly</h2>
				<p>Defold is a free to use game engine with a developer-friendly license for both personal and commercial use.</p>
				<br/>
				{% include primary_button.html link="/open" text="Learn more" %}
				<br/>
				<br/>
			</div>
		</div>
	</div>
</div>
