<div class="platforms-grid{% if include.class %} {{ include.class }}{% endif %}" style="--platform-grid-minmax: {{ include.minmax | default: 100 }}px;">
	<img src="/images/logo/platform/100px-ps4-white.png"	class="{{ include.transition }}" alt="PlayStation®4 logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-ps5-white.png"	class="{{ include.transition }}" alt="PlayStation®5 logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-switch-red.png"	class="{{ include.transition }}" alt="Nintendo Switch logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-android.png"		class="{{ include.transition }}" alt="Android logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-ios-white.png"	class="{{ include.transition }}" alt="Apple logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-macos-white.png"	class="{{ include.transition }}" alt="macOS logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-linux.png"		class="{{ include.transition }}" alt="Linux logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-windows.png"		class="{{ include.transition }}" alt="Windows logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-steam.png"		class="{{ include.transition }}" alt="Steam logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-poki.png"			class="{{ include.transition }}" alt="Poki logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-html5.png"		class="{{ include.transition }}" alt="HTML5 logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-facebook.png"		class="{{ include.transition }}" alt="Facebook logo" loading="lazy"/>
</div>
