<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax({{ include.minmax }}px, 1fr)); grid-gap: 2rem; padding: 0px;">
	<img src="/images/logo/platform/100px-ps4-white.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="PlayStation®4 logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-ps5-white.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="PlayStation®5 logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-switch-red.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="Nintendo Switch logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-android.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="Android logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-ios-white.png"			class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="Apple logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-macos-white.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="macOS logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-linux.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="Linux logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-windows.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="Windows logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-steam.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="Steam logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-html5.png"		class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="HTML5 logo" loading="lazy"/>
	<img src="/images/logo/platform/100px-facebook.png"	class="{{ include.transition }}" width="50%" style="display:block; margin: auto;" alt="Facebook logo" loading="lazy"/>
</div>
