<article class="page-post-preview{% if include.linked_card %} page-post-preview-linked-card{% endif %}">
	{%- if include.linked_card -%}
	<h4 class="page-post-preview-title">{{ include.post.title }}</h4>
	{%- elsif include.title_link -%}
	<h4 class="page-post-preview-title"><a href="{{ include.post.url }}">{{ include.post.title }}</a></h4>
	{%- else -%}
	<h4 class="page-post-preview-title">{{ include.post.title }}</h4>
	{%- endif -%}
	<p class="page-post-preview-meta">{% if include.date_only %}{{ include.post.date | date: "%b %d, %Y" }}{% else %}Published on {{ include.post.date | date: "%b %d, %Y" }}{% endif %}</p>
	<div class="page-post-preview-excerpt">
		{{ include.post.excerpt }}
	</div>
	{%- unless include.title_link or include.linked_card -%}
	<p class="page-post-preview-action"><a href="{{ include.post.url }}">Read more</a></p>
	{%- endunless -%}
</article>
