{%- assign element=include.element -%}
{%- if element.type == "FUNCTION" -%}
{{ element.name }}:{% for param in element.parameters %}{{ param.name }}{% if forloop.last != true %}-{% endif %}{% endfor %}
{%- elsif element.type == "VARIABLE" -%}
{{ element.name }}
{%- elsif element.type == "MESSAGE" -%}
{{ element.name }}
{%- elsif element.type == "PROPERTY" -%}
{{ element.name }}
{%- elsif element.type == "MACRO" -%}
{{ element.name }}
{%- elsif element.type == "ENUM" -%}
{{ element.name }}
{%- elsif element.type == "STRUCT" -%}
{{ element.name }}
{%- elsif element.type == "CLASS" -%}
{{ element.name }}
{%- elsif element.type == "TYPEDEF" -%}
{{ element.name }}
{%- endif -%}
