<div class="section light center">
	<div class="container">
		<div class="row">
			<div class="columns three">
				<img src="/images/beans/bean-mail_bean-blue-sign-right.png" width="75%"/>
			</div>
			<div class="columns six left">
				<h4>Sign up for Defold news</h4>
				<p>We occasionally send product updates, game releases, and tips & tricks to our users. The e-mails are optional, sent out sparingly (we dislike spam just as much as you do), and you can opt out any time.</p>

				{% include sendinblue.html %}

			</div>
			<div class="columns three"><br/></div>
		</div>
	</div>
</div>
