<div class="nav {% if include.style == "floating" %}lightest-text {% else %}dark{% endif %}">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<div style="float: left">
					<a href="/" class="sidemenu"><img src="/images/logo/defold/logo/logo-ver-outline-white-64.png" height="32px"/></a>
				</div>
				<div style="float: left; padding-left: 20px;">
					<ul class="sidemenu">
						<li><a href="/product">Features</a></li>
						<li><a href="/showcase">Showcase</a></li>
						<li><a href="/learn">Learn</a></li>
						<li><a href="/assets">Assets</a></li>
						<li><a href="/open">Open&nbsp;Source</a></li>
						<li><a href="//forum.defold.com">Community</a></li>
						<li><a href="/download">Download</a></li>
					</ul>
					<select class="dropdownmenu dark-text" onchange="location = this.value;">
						<option value="/">Home</option>
						<option value="/product" {% if page.url contains 'product' %}selected{% endif %}>Features</option>
						<option value="/showcase" {% if page.url contains 'showcase' %}selected{% endif %}>Showcase</option>
						<option value="/learn">Learn</option>
						<option value="/assets" {% if page.url contains 'assets' %}selected{% endif %}>Asset Portal</option>
						<option value="/open" {% if page.url contains 'open' %}selected{% endif %}>Open Source</option>
						<option value="//forum.defold.com">Forum</option>
						<option value="/download" {% if page.url contains 'download' %}selected{% endif %}>Download</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
