<div class="nav {% if include.style == "floating" %}lightest-text {% else %}dark dark:darkest{% endif %}">
	<div class="container" style="padding-top: 1.2rem;">
		<div class="row">
			<div class="twelve columns">
				<div style="float: left">
					<a href="/" class="sidemenu"><img src="/images/logo/defold/logo/logo-ver-outline-white-64.png" height="32px" alt="Defold logo"/></a>
				</div>
				<div style="float: left; padding-left: 20px; padding-top: 0.5rem; padding-bottom: 1.7rem;">
					<ul class="sidemenu">
						<li><a href="/product">Features</a></li>
						<li><a href="/showcase">Showcase</a></li>
						<li><a href="/learn">Learn</a></li>
						<li><a href="/assets">Assets</a></li>
						<li><a href="/open">Open&nbsp;Source</a></li>
						<li><a href="//forum.defold.com">Community</a></li>
						<li><a href="/support">Support</a></li>
					</ul>
					<select class="dropdownmenu dark-text" onchange="location = this.value;">
						<option value="/">Home</option>
						<option value="/product" {% if page.url contains 'product' %}selected{% endif %}>Features</option>
						<option value="/showcase" {% if page.url contains 'showcase' %}selected{% endif %}>Showcase</option>
						<option value="/learn" {% if page.url contains 'learn' %}selected{% endif %}>Learn</option>
						<option value="/assets" {% if page.url contains 'assets' %}selected{% endif %}>Asset Portal</option>
						<option value="/open" {% if page.url contains 'open' %}selected{% endif %}>Open Source</option>
						<option value="//forum.defold.com">Community</option>
						<option value="/support" {% if page.url contains 'support' %}selected{% endif %}>Support</option>
						<option value="https://github.com/defold/defold">GitHub</option>
						<option value="/download" {% if page.url contains 'download' %}selected{% endif %}>Download</option>
					</select>
				</div>
				<div class="right" style="float: right; padding-top: 0.5rem;">
					<ul class="sidemenu">
						<li><a href="https://github.com/defold/defold">GitHub</a></li>
						<li><a href="/download">Download</a></li>
						<li><a href="/extender_status">Extender status</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
