<div class="section hero light center" style='background-image: url("/images/hero/orange-bg.jpg");'>
	<div class="container">
		<div class="row">
			<div class="columns four">
				<img src="/images/games/game-art-left@3x.png" width="100%"/>
			</div>
			<div class="columns four">
				<h2>Ready to create something awesome?</h2>
				<br/>
				{% include primary_button.html link="/download" text="Download for free" %}
			</div>
			<div class="columns four">
				<img src="/images/games/game-art-right@3x.png" width="100%"/>
			</div>
		</div>
	</div>
</div>
