<div class='card left compact clickable'>
<div class="center" style="padding-bottom: 1em;">
<iframe width="100%" src="{{ include.embed }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div>
<a href="{{ include.link }}"><h5>{{ include.title }}</h5></a>
{%- if include.author -%}<p style="font-size: small">{{ include.author }}</p>{%- endif -%}
<a href="{{ include.link }}"><p style="font-size: small">{{ include.description }}</p></a>
</div>
</div>
