---
layout: page
title: Defold examples
nav: floating
---

<div class="section hero center blackwhite dark:darken-10" style='background-image: url("/images/hero/testimonials-background-0.5x.png");'>
	<div class="container">
		<div class="row">
			<div class="column one-half left">
				<h1>Learn from examples!</h1>
				<p>The Defold examples show individual concepts and features of Defold.</p>
			</div>
		</div>
	</div>
</div>

{% include learnnav.html showmenu=true %}

{% assign all_categories = site.data.examplesindex | map: "category" | uniq | sort %}

<div class="section lightest dark:dark">
	<div class="container">
		<div class="row">
			<div class="columns full">
				<h2 id="categories">Categories</h2>
				<div class="grid-150" style="font-size: 0.9em; grid-gap: 0 1rem; ">
				
			
					{% for category in all_categories %}
						<a href="#{{ category }}">{{ category | capitalize }}</a>
					{% endfor %}
				</div>
				<br/>
			</div>
		</div>
		{% for category in all_categories %}
		<div class="row">
			<div class="columns full">
				<h3 id="{{ category }}">{{ category | capitalize }}</h3>
				<div class="grid-250">
				{%- assign examples = site.data.examplesindex | where: "category", category -%}
				{%- for example in examples -%}
					{% include learn_card.html title=example.title description=example.brief link=example.path min-height="250px" %}
				{%- endfor -%}
				</div>
				<p>˄ <a href="#categories">Top</a></p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
