#sib-container input:-ms-input-placeholder {
  text-align: left;
  color: #c0ccda;
  border-width: px;
}

#sib-container input::placeholder {
  text-align: left;
  color: #c0ccda;
  border-width: px;
}
