{%- assign page_locale = page.locale | default: page.language -%}
{%- if page_locale -%}
{%- if page.layout == "manual" or page.layout == "tutorial" or page.layout == "faq" -%}
<!DOCTYPE html>
<html lang="{{ page_locale }}">
{%- else -%}
<!DOCTYPE html>
<html lang="en">
{%- endif -%}
{%- else -%}
<!DOCTYPE html>
<html lang="en">
{%- endif -%}
<head>
	{% include head.html %}

	<script>
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			document.documentElement.classList.add('dark-mode');
		} else {
			document.documentElement.classList.remove('dark-mode');
		}
	</script>	
</head>
<body>
{%- include googletagmanager_body.html -%}
{{ content }}
</body>
</html>
