---
layout: page
---
{% include learnnav.html showmenu=true %}

<div class="section lightest dark:dark">
	<div class="container">
		<div class="row">
			<div class="columns two">
				{% assign all_categories = site.data.examplesindex | map: "category" | uniq | sort %}
				<div class="sidemenu">
				{% for category in all_categories %}
					{%- assign examples = site.data.examplesindex | where: "category", category -%}
					{%- assign checked = "" -%}
					{%- for example in examples -%}
						{%- if page.url contains example.path -%}
							{%- assign checked = "checked" -%}
						{%- endif -%}
					{%- endfor -%}
					<input id="collapsible_{{ category }}" class="toggle" type="checkbox" {{ checked }}/>
					<label for="collapsible_{{ category }}" class="togglelabel">{{ category | capitalize  }}</label>
					<ul class="nobullet">
						{% for example in examples %}
						<li style="padding-left: 2rem;">
							<a href="/examples/{{ example.path }}" style="text-decoration: none;">{{ example.name }}</a>
						</li>
						{% endfor %}
					</ul>
				{% endfor %}
				</div>
				<div class="dropdownmenu">
					<select class="dropdownmenu" onchange="location = this.value;">
					{% for category in all_categories %}
						<option value="">{{ category | capitalize }}</option>
						{% assign examples = site.data.examplesindex | where: "category", category %}
						{% for example in examples %}
						<option value="/examples/{{ example.path }}" {% if page.url contains example.path %}selected{% endif %}> - {{ example.name }}</option>
						{%- endfor -%}
					{%- endfor -%}
					</select>
				</div>
			</div>
			<div class="columns eight example" style="">
				<h4>{{ page.title }}</h4>
				{%- if page.collection -%}
				{% include example.html %}
				<br/>
				<h4>Setup</h4>
				{% endif %}

				{{ content }}

				{%- if page.scripts.size > 0 -%}
				<h4>Scripts</h4>
				{% endif %}
				{% assign scripts = page.scripts | split: "," %}
				{% assign collection = page.collection %}
				{% for script in scripts %}
				<p>{{ script }}</p>
{% comment %}
	The indentation of the following "highlight" block is intentional so that there
	are no extra spaces in the generated <code></code> block
{% endcomment %}
{% highlight lua %}
{% include examples/{{ collection}}/{{ script | lstrip | replace: ".script", "_script.md" | replace: ".gui_script", "_gui_script.md" }} %}
{% endhighlight %}
				{% endfor %}
			</div>
			<div class="columns two">
				<p>
					If you want to play with these examples, you can get the project on Github.
				</p>
				<p>
					Do you want to see more examples? Why not write a few yourself and submit a pull request? We love contributions.
				</p>
				{% include primary_button.html text="GITHUB" link="https://github.com/defold/examples" %}
			</div>
		</div>
	</div>
</div>
