---
layout: page
---
{% include learnnav.html showmenu=true %}

<div class="section lightest dark:dark">
	<div class="container">
		<div class="row">
			<div class="columns two">
				{% assign all_categories = site.data.examplesindex | map: "category" | uniq | sort %}
				<div class="sidemenu">
				{% for category in all_categories %}
					{%- assign examples = site.data.examplesindex | where: "category", category -%}
					{%- assign checked = "" -%}
					{%- for example in examples -%}
						{%- if page.url contains example.path -%}
							{%- assign checked = "checked" -%}
						{%- endif -%}
					{%- endfor -%}
					<input id="collapsible_{{ category }}" class="toggle" type="checkbox" {{ checked }}/>
					<label for="collapsible_{{ category }}" class="togglelabel">{{ category | capitalize  }}</label>
					<ul class="nobullet">
						{% for example in examples %}
						<li style="padding-left: 2rem;">
							<a href="/examples/{{ example.path }}" style="text-decoration: none;">{{ example.title }}</a>
						</li>
						{% endfor %}
					</ul>
				{% endfor %}
				</div>
				<div class="dropdownmenu">
					<select class="dropdownmenu" onchange="location = this.value;">
					{% for category in all_categories %}
						<option value="">{{ category | capitalize }}</option>
						{% assign examples = site.data.examplesindex | where: "category", category %}
						{% for example in examples %}
						<option value="/examples/{{ example.path }}" {% if page.url contains example.path %}selected{% endif %}> - {{ example.title }}</option>
						{%- endfor -%}
					{%- endfor -%}
					</select>
				</div>
			</div>
			<div class="columns eight example" style="">
				<h4>{{ page.title }}</h4>
				<div id="app-container" class="canvas-app-container" style="display:none">
					<div id="canvas-container" class="canvas-app-canvas-container"></div>
					<div class="buttons-background"></div>
				</div>
				<!-- the canvas is intentionally moved outside of the app-container to
				not be affected by any scaling options set in game.project -->
				<canvas id="canvas" class="canvas-app-canvas" tabindex="1" width="680" height="680" style="max-width:680px"></canvas>
				<script id='engine-loader' type='text/javascript' src="dmloader.js"></script>
				<script id='engine-start' type='text/javascript'>
					EngineLoader.load("canvas", "Defoldexamples");
				</script>
				<br/>
				<h4>Setup</h4>

				{{ content }}

				{%- if page.scripts.size > 0 -%}
				<h4>Scripts</h4>
				{% endif %}
				{% assign scripts = page.scripts | split: "," %}
				{% assign collection = page.collection %}
				{% assign path = page.path %}
				{% for script in scripts %}
				<p>{{ script }}</p>
				{% comment %}
					Assign content of the script into a variable and then
					replace each tab with 4 spaces to have consistent indentations
				{% endcomment %}
				{% capture script_content %}{% include examples/{{ path }}/{{ script | lstrip | replace: ".script", "_script.md" | replace: ".gui_script", "_gui_script.md" | replace: ".vp", "_vp.md" | replace: ".fp", "_fp.md" }} %}{% endcapture %}
				{% assign script_ext = script | split:'.' | last %}
				{% if script_ext == "vp" or script_ext == "fp" %}
				{% highlight glsl %}{{ script_content | replace: "	", "    " }}{% endhighlight %}
				{% else %}
				{% highlight lua %}{{ script_content | replace: "	", "    " }}{% endhighlight %}
				{% endif %}
				{% endfor %}
			</div>
			<div class="columns two">
				<p>
					If you want to play with these examples, you can get the project on Github.
				</p>
				<p>
					Do you want to see more examples? Why not write a few yourself and submit a pull request? We love contributions.
				</p>
				{% include primary_button.html text="GITHUB" link="https://github.com/defold/examples" %}
			</div>
		</div>
	</div>
</div>

{%- include marksearchhits.html div="example" -%}
{%- include copy-icon-for-code-snippets.html -%}
