---
layout: page_with_learnnav
---

{%- assign page_locale = page.locale | default: "en" -%}
{%- assign locale_info = site.data.localeindex | where: "locale", page_locale | first -%}
<div class="pagefind-hidden-meta" data-pagefind-filter="section">FAQ</div>
<div class="pagefind-hidden-meta" data-pagefind-meta="section">FAQ</div>
<div class="section lightest dark:dark">
	<div class="container">
		<div class="row">
			<div class="columns ten faq content-flow">
				{%- if page_locale != "en" -%}
				{%- capture urlprefix -%}/{{ locale_info.urlprefix }}/{%- endcapture -%}
				<p><a href="{{ page.url | replace: urlprefix, "/" }}">Read this FAQ in English</a></p>
				{%- endif -%}
				{% include anchor_headings.html html=content anchorClass="anchor-link" %}
			</div>
			<div class="columns two">
				{%- if site.data.localeindex.size > 1 -%}
				<input class="toggle" type="checkbox" checked/>
				<label class="togglelabel">Languages</label>
				<ul class="nobullet">
				{%- for l in site.data.localeindex -%}
					{%- if l.active -%}
					<li class="learn-detail-list-item">
						{%- if l.locale == "en" -%}
							<a class="learn-detail-list-link" href='/faq/faq'>{{ l.name }}</a>
						{%- else -%}
							<a class="learn-detail-list-link" href='/{{ l.locale }}/faq/faq'>{{ l.name }}</a>
						{%- endif -%}
					</li>
					{%- endif -%}
				{%- endfor -%}
				</ul>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>

{%- include marksearchhits.html div="faq" -%}
