---
layout: page
---
{% include learnnav.html showmenu=true %}

{%- assign language = site.data.languageindex | where: "language", page.language | first -%}
<div class="section lightest">
	<div class="container">
		<div class="row">
			<div class="columns ten faq">
				{%- if page.language != "en" -%}
				{%- capture urlprefix -%}/{{ language.urlprefix }}/{%- endcapture -%}
				<p><a href="{{ page.url | replace: urlprefix, "/" }}">Read this FAQ in English</a></p>
				{%- endif -%}
				{% include anchor_headings.html html=content anchorClass="anchor-link" %}
			</div>
			<div class="columns two">
				{%- if site.data.languageindex.size > 1 -%}
				<input class="toggle" type="checkbox" checked/>
				<label class="togglelabel">Languages</label>
				<ul class="nobullet">
				{%- for l in site.data.languageindex -%}
					{%- if l.active -%}
					<li style="padding-left: 2rem;">
						{%- if l.language == "en" -%}
							<a href='/faq/faq' style="text-decoration: none;">{{ l.name }}</a>
						{%- else -%}
							<a href='/{{ l.language }}/faq/faq' style="text-decoration: none;">{{ l.name }}</a>
						{%- endif -%}
					</li>
					{%- endif -%}
				{%- endfor -%}
				</ul>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>

{%- include marksearchhits.html div="faq" -%}
