---
layout: page
---

<div class="section narrow lightest-text">
	{%- if page.logo -%}
	<div class="container">
		<div class="row center">
			<div>
				<img src="/images/logo/defold/logo/logo-ver-classic-white-160.png" alt="Defold Logo"/>
			</div>
		</div>
	</div>
	{%- endif -%}
	{%- if page.text != false -%}
	<div class="container">
		<div class="row">
			<div class="column two-thirds left">
				<h1>{{ page.title }}</h1>
				<p>{{ page.description }}</p>
			</div>
		</div>
	</div>
	{%- endif -%}
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="columns twelve">
				{{ content }}
			</div>
		</div>
	</div>
</div>

{%- for after in page.after -%}
{% include {{ after | default: "empty.html" }} %}
{%- endfor -%}
