---
layout: base
---
<div class="section light">
	<div class="container">
		<div class="row">
			<div class="columns three">
				{% for section in site.data.en.navigation.manuals %}
					<b>{{ section.name }}</b>
					<ul class="nobullet">
						{% for manual in section.items %}
						<li style="padding-left: 2rem;">
							<a href="{{ manual.path }}" style="text-decoration: none;">{{ manual.name }}</a>
						</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>
			<div class="columns seven manual">
				{% include anchor_headings.html html=content %}
			</div>
			<div class="columns two">
				<b>Language</b>
				<ul>
				{% for language in site.data.languages.languages %}
					<li><a href="{{ language[0] }}">{{ language[1].name }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
