---
layout: base
---
{% include learnnav.html showmenu=true %}

{%- assign unsortedindices = site.data.refindex | where: "branch", "stable" -%}
{%- assign indices = unsortedindices | sort: "namespace" -%}
{%- assign branches = site.data.branchindex -%}
{%- assign types = indices | map: "type" | uniq -%}
<div class="section lightest">
	<div class="container">
		<div class="row">
			<div class="columns three">
				<ul class="navmenu nobullet">
					{%- for type in types -%}
					{%- assign refs = indices | where: "type", type -%}

					{%- assign checked = "" -%}
					{%- for ref in refs -%}
						{%- assign url = "/ref/" | append: page.branch | append: "/" | append: ref.filename -%}
						{%- if page.url contains url -%}
							{%- assign checked = "checked" -%}
						{%- endif -%}
					{%- endfor -%}

					<input id="collapsible_{{ type }}" class="toggle" type="checkbox" {{ checked }}/>
					<label for="collapsible_{{ type }}" class="togglelabel">{{ type | capitalize  }}</label>
					<ul class="nobullet">
						{%- for ref in refs -%}
						<li style="padding-left: 2rem; padding-bottom: 0px;"><a href="/ref/{{ page.branch }}/{{ ref.filename }}" style="text-decoration: none;">{{ ref.namespace }}</a></li>
						{%- endfor -%}
					</ul>
					{%- endfor -%}

					<input id="branch" class="toggle" type="checkbox" checked/>
					<label for="branch" class="togglelabel">Version</label>
					<ul class="nobullet">
						{%- for branch in branches -%}
						<li style="padding-left: 2rem; padding-bottom: 0px;"><a href="/ref/{{ branch }}/{{ page.ref }}" style="text-decoration: none;">{{ branch }}</a></li>
						{%- endfor -%}
					</ul>
				</ul>
				<select class="navdropdown" onchange="location = this.value;">
					{%- for ref in indices -%}
					<option value="/ref/{{ page.branch }}/{{ ref.filename }}">{{ ref.namespace }}</option>
					{%- endfor -%}
				</select>
				<select class="navdropdown" onchange="location = this.value;">
					{%- for branch in branches -%}
					<option value="/ref/{{ branch }}/{{ page.ref }}">{{ branch }}</option>
					{%- endfor -%}
				</select>
			</div>
			<div class="columns nine ref scrollable">
				{%- assign ref = site.data.ref[page.branch][page.ref] -%}
				{%- include api.html ref=ref -%}
			</div>
		</div>
	</div>
</div>

{%- include marksearchhits.html div="ref" -%}
