---
layout: page
---
<!-- Pagefind metadata and filters for tutorials -->
<div style="display: none;" data-pagefind-filter="section">Tutorials</div>
<div style="display: none;" data-pagefind-meta="section">Tutorials</div>
{% include learnnav.html showmenu=true %}

{%- assign page_language = page.language | default: "en" -%}
{%- assign language = site.data.languageindex | where: "language", page_language | first -%}
{%- assign github_link = page.github | default: "https://github.com/defold/doc" -%}
{%- for tutorial in site.data.learnindex.navigation.tutorials -%}
	{%- if tutorial.path contains "/tutorials/" -%}
		{%- assign tutorial_path = tutorial.path | append: "/" -%}
		{%- assign tutorial_path_size = tutorial_path | size -%}
		{%- assign page_url_size = page.url | size -%}
		{%- assign start_index = page_url_size | minus: tutorial_path_size -%}
		{%- assign result = page.url | slice: start_index, tutorial_path_size -%}
		{%- if result == tutorial_path -%}
			{%- assign current_tutorial = tutorial -%}
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}

<div class="section lightest dark:dark">
	<div class="container">
		<div class="row">
			<div class="columns two">
				<div class="sidemenu">
					<ul class="nobullet">
					{% for tutorial in site.data.learnindex.navigation.tutorials %}
						{%- assign checked = "" -%}
						{%- if page.url contains tutorial.path -%}
							{%- assign checked = "checked" -%}
						{%- endif -%}
						<li style="padding-left: 2rem;">
							{%- if tutorial.path contains "/tutorials/" -%}
								{%- if page_language == "en" -%}
									<a href="{{ tutorial.path }}" style="text-decoration: none;">{{ tutorial.name }}</a>
								{%- elsif tutorial.languages contains page_language -%}
									<a href="/{{ language.urlprefix }}{{ tutorial.path }}" style="text-decoration: none;">{{ tutorial.name }}</a>
								{%- else -%}
									<a href="{{ tutorial.path }}" style="text-decoration: none;">{{ tutorial.name }} (English)</a>
								{%- endif -%}
							{%- else -%}
								<a href="{{ tutorial.path }}" style="text-decoration: none;">{{ tutorial.name }}</a>
							{%- endif -%}
						</li>
					{% endfor %}
					</ul>
				</div>
				<div class="dropdownmenu">
					<select class="dropdownmenu" onchange="location = this.value;">
						{% for tutorial in site.data.learnindex.navigation.tutorials %}
						{%- if tutorial.path contains "/tutorials/" -%}
							{%- if page_language == "en" -%}
								<option value="{{ tutorial.path }}" {% if page.url contains tutorial.path %}selected{% endif %}> - {{ tutorial.name }}</option>
							{%- elsif tutorial.languages contains page_language -%}
								<option value="/{{ language.urlprefix }}{{ tutorial.path }}" {% if page.url contains tutorial.path %}selected{% endif %}> - {{ tutorial.name }}</option>
							{%- else -%}
								<option value="{{ tutorial.path }}" {% if page.url contains tutorial.path %}selected{% endif %}> - {{ tutorial.name }} (English)</option>
							{%- endif -%}
						{%- else -%}
							<option value="{{ tutorial.path }}" {% if page.url contains tutorial.path %}selected{% endif %}> - {{ tutorial.name }}</option>
						{%- endif -%}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="columns eight tutorial">
				{%- if page_language != "en" and current_tutorial -%}
				{%- capture urlprefix -%}/{{ language.urlprefix }}/{%- endcapture -%}
				<div class="sidenote">
					<p>This translation is community contributed and may not be up to date. We only maintain the English version of the documentation. <a href="{{ page.url | replace: urlprefix, "/" }}">Read this tutorial in English</a></p>
				</div>
				{%- endif -%}
				<div data-pagefind-body>
				{%- if page.difficulty -%}
				<p style="margin-top: 0;"><span class="difficulty-tag">{{ page.difficulty }}</span></p>
				{%- endif -%}
				{% include anchor_headings.html html=content anchorClass="anchor-link" %}
				</div>
			</div>
			<div class="columns two">
				{%- if site.data.languageindex.size > 1 and current_tutorial -%}
				<input class="toggle" type="checkbox" checked/>
				<label class="togglelabel">Languages</label>
				<ul class="nobullet">
				{%- for l in site.data.languageindex -%}
					{%- if l.active and current_tutorial.languages contains l.language -%}
					<li style="padding-left: 2rem;">
						{%- if l.language == "en" -%}
							<a href='{{ current_tutorial.path }}' style="text-decoration: none;">{{ l.name }}</a>
						{%- elsif current_tutorial.languages contains l.language -%}
							<a href='/{{ l.urlprefix }}{{ current_tutorial.path }}' style="text-decoration: none;">{{ l.name }}</a>
						{%- endif -%}
					</li>
					{%- endif -%}
				{%- endfor -%}
				</ul>
				<hr/>
				{%- endif -%}
				<p>
					Did you spot an error or do you have a suggestion? Please let us know on GitHub!
				</p>
				{% include secondary_button.html text="GITHUB" link=github_link %}
			</div>
		</div>
	</div>
</div>

{%- include marksearchhits.html div="tutorial" -%}
