---
layout: base
---
{% include learnnav.html showmenu=true %}

<div class="section lightest">
	<div class="container">
		<div class="row">
			<div class="columns three">
				<div class="navmenu">
				{% for section in site.data.learnindex.navigation.tutorials %}
					{%- assign checked = "" -%}
					{%- for tutorial in section.items -%}
						{%- if page.url contains tutorial.path -%}
							{%- assign checked = "checked" -%}
						{%- endif -%}
					{%- endfor -%}
					<input id="collapsible_{{ section.name }}" class="toggle" type="checkbox" {{ checked }}/>
					<label for="collapsible_{{ section.name }}" class="togglelabel">{{ section.name }}</label>
					<ul class="nobullet">
						{% for tutorial in section.items %}
						<li style="padding-left: 2rem;">
							<a href="{{ tutorial.path }}" style="text-decoration: none;">{{ tutorial.name }}</a>
						</li>
						{% endfor %}
					</ul>
				{% endfor %}
				</div>
				<div class="navdropdown">
					<select class="navdropdown" onchange="location = this.value;">
						{% for section in site.data.learnindex.navigation.tutorials %}
						<option value="">{{ section.name | capitalize }}</option>
						{% for tutorial in section.items %}
						<option value="{{ tutorial.path }}" {% if page.url contains tutorial.path %}selected{% endif %}> - {{ tutorial.name }}</option>
						{% endfor %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="columns seven tutorial">
				{% include anchor_headings.html html=content anchorClass="anchor-link" %}
			</div>
			<div class="columns two">
				<p>
					Did you spot an error or do you have a suggestion? Please let us know on GitHub!
				</p>
				{% include secondary_button.html text="GITHUB" link="https://github.com/defold/doc" %}
			</div>
		</div>
	</div>
</div>

{%- include marksearchhits.html div="tutorial" -%}
